@page "/SAPshowcase/SapMovementsIN"
@attribute [Authorize]

@using System.Text.Json;
@using DictionaryManagement_Business.Repository.IRepository;
@using DictionaryManagement_Models.IntDBModels;

@inject IJSRuntime _jsRuntime
@* @inject TooltipService tooltipService *@
@inject ISapMovementsINRepository _sapMovementsINRepository
@inject ISimpleExcelExportRepository _simpleExcelExportRepository

@inject DialogService _dialogService

@if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
{
    <_Dialogs @ref="_dialogs"></_Dialogs>

    <div class="row">

        <div class="col-6">
            <h6 class="card-title text-primary"><a href="/SAPshowcase">Витрины SAP</a> - <a href="/SAPshowcase/SapMovementsIN">Движения - вход</a></h6>
        </div>


        @if (IsLoading != true)
        {            
            <RadzenRow Gap="0.5rem" Class="rz-p-0 rz-p-lg-0">
                <RadzenColumn Size="12" SizeMD="12">
                    <RadzenStack>
                        <RadzenStack Gap="0.5rem">
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenRadioButtonList @bind-Value=@applyRadioGroupValue TValue="int" Change="@(args => ChangeEndDate())">
                                    <Items>
                                        <RadzenRadioButtonListItem Text="По времени значения" Value="1" />
                                        <RadzenRadioButtonListItem Text="По времени добавления" Value="2" />
                                    </Items>
                                </RadzenRadioButtonList>
                                <RadzenDatePicker @bind-Value=@startDate Change="@(args => ChangeStartDate())" ShowTime="true" ShowSeconds="true" DateFormat="dd.MM.yyyy HH:mm:ss" />
                                @*                                 <RadzenDatePicker @bind-Value=@endDate Change="@(args => ChangeEndDate())" Min=minEndDate Max=@maxEndDate ShowTime="true" ShowSeconds="true" DateFormat="dd.MM.yyyy HH:mm:ss" /> *@
                                <RadzenDatePicker @bind-Value=@endDate Change="@(args => ChangeEndDate())" ShowTime="true" ShowSeconds="true" DateFormat="dd.MM.yyyy HH:mm:ss" />
                                <RadzenButton Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Success" Icon="done" Disabled="@ApplyButtonDisabled" Text="Применить" Click="@(args => GetRows())" />
                                <RadzenButton Size="ButtonSize.Small" title="Простой экспорт в Excel с учётом применённых фильтров и упорядочивания" Text="--> в Excel" Icon="grid_on" Click="@(args => ExcelExport())" IsBusy=@excelExportFlag BusyText="Выполняется ..." />
                                <RadzenButton Size="ButtonSize.Small" title="Загрузка данных из Excel в Витрины SAP - Движения - вход" Text="Из Excel <--" Icon="grid_on" Click="@(args => ExcelImport())" />
                                @*                                 <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Text="Добавить запись" Click="@(args => EditRow(null))" /> *@
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>

            <RadzenDataGridApp @bind-Settings="@SapMovementsINGridSettings" SettingsName="SapMovementsINGridSettings" @ref="sapMovementsINDTOGrid" AllowAlternatingRows="true" AllowFiltering="true" AllowPaging="false" AllowSorting="true" AllowMultiColumnSorting="true" EditMode="DataGridEditMode.Single"
                               Data="@sapMovementsINDTOs" TItem="SapMovementsINDTO"
                               FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                               FilterMode="FilterMode.Advanced"
                               Density=Density.Compact
                               ShowPagingSummary="true"
                               EmptyText="Нет записей для отображения"
                               AllowVirtualization="true"
                               AllowColumnReorder="true"
                               AllowColumnResize="true"
                               Style=@(iconMenuActive ? "height:calc(100vh - 160px); width:calc(100vw - 120px)" : "height:calc(100vh - 160px); width:calc(100vw - 280px);")
                               ColumnWidth="200px"
                               AllowColumnPicking="true"
                               GridLines="DataGridGridLines.Both"
                               ShowCleanGridSettingsHeaderButton="false"
                               ShowCleanGridFiltersHeaderButton="false"
                               ShowCleanGridSortsHeaderButton="false">
                <HeaderTemplate>
                    <RadzenButton Size="ButtonSize.Small" Text="Очистить настройки интерфейса страницы" Icon="settings"
                                  ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Click="(args) => CleanPageSettingsCustom()">
                    </RadzenButton>
                    <RadzenButton Size="ButtonSize.Small" Text="Очистить все фильтры" Icon="filter_alt"
                                  ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Click="(args) => CleanAllFiltersCustom()">
                    </RadzenButton>

                    <RadzenButton Size="ButtonSize.Small" Text="Очистить все сортировки" Icon="swap_vert"
                                  ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Click="(args) => CleanAllOrdersCustom()">
                    </RadzenButton>
                    <RadzenButton Style="text-transform:none" Size="ButtonSize.Small" Text=@("Записей с учётом фильтров "+ @sapMovementsINDTOGrid.View.Count().ToString()+" из "+(sapMovementsINDTOs == null ? "0" : sapMovementsINDTOs.Count().ToString())+" в выборке")
                                  ButtonStyle="ButtonStyle.Primary" Variant="Variant.Text">
                    </RadzenButton>
                </HeaderTemplate>
                <Columns>
                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="ErpId" Title="Ид записи" TextAlign="TextAlign.Center"
                                             FilterProperty="ErpId" FilterOperator="FilterOperator.Contains" SortProperty="ErpId">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.ErpId
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="AddTime" Title="Время добавления" TextAlign="TextAlign.Center" Filterable="true" Sortable="true"
                                             FilterOperator="FilterOperator.Equals">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                <strong>
                                    @data1.AddTime.ToString("dd.MM.yyyy HH:mm:ss.fff")
                                </strong>
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="SapMaterialCode" Title="Код материала в SAP" TextAlign="TextAlign.Center"
                                             Filterable="true" Sortable="true" FilterOperator="FilterOperator.Contains">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                <strong>
                                    @data1.SapMaterialCode
                                </strong>
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="ToStringSapMaterialDTOFK" Title="Материал в СИР" TextAlign="TextAlign.Center"
                                             FilterOperator="FilterOperator.Contains" Filterable="true" Sortable="true" FilterProperty="ToStringSapMaterialDTOFK">
                        <Template Context="data1">
                            @if (!data1.ToStringSapMaterialDTOFK.Equals("НЕ НАЙДЕН"))
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                    <strong>
                                        @data1.ToStringSapMaterialDTOFK
                                    </strong>
                                </div>
                            }
                            else
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px; color: red">
                                    @data1.ToStringSapMaterialDTOFK
                                </div>
                            }
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="ErpPlantIdSource" Title="Завод-источник SAP" TextAlign="TextAlign.Center"
                                             Filterable="true" Sortable="true" FilterOperator="FilterOperator.Contains">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.ErpPlantIdSource
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="ErpIdSource" Title="Ресурс-источник SAP" TextAlign="TextAlign.Center"
                                             FilterOperator="FilterOperator.Contains" Filterable="true" Sortable="true">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.ErpIdSource
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    @*                     <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="IsWarehouseSource" Title="Источник в SAP является складом" Filterable="true" TextAlign="TextAlign.Center">
            <Template Context="data">
            @if (data.IsWarehouseSource != null)
            {
            <RadzenCheckBox @bind-Value=data.IsWarehouseSource ReadOnly="true" TriState="false" TValue="bool?" />
            }
            </Template>
            </RadzenDataGridColumnApp>
            *@
                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="ToStringSapEquipmentSourceDTOFK" Title="Источник в СИР" TextAlign="TextAlign.Center"
                                             Filterable="true" Sortable="true" FilterOperator="FilterOperator.Contains">
                        <Template Context="data1">
                            @if (!data1.ToStringSapEquipmentSourceDTOFK.Equals("НЕ НАЙДЕН"))
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                    @data1.ToStringSapEquipmentSourceDTOFK
                                </div>
                            }
                            else
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px; color: red">
                                    @data1.ToStringSapEquipmentSourceDTOFK
                                </div>
                            }
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="SapEquipmentSourceDTOFK.IsWarehouse" Title="Источник в СИР является складом" Filterable="true" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            @if (data.SapEquipmentSourceDTOFK != null)
                            {
                                <RadzenCheckBox @bind-Value=data.SapEquipmentSourceDTOFK.IsWarehouse ReadOnly="true" TriState="false" TValue="bool" />
                            }
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="ErpPlantIdDest" Title="Завод-приёмник SAP" TextAlign="TextAlign.Center"
                                             Filterable="true" Sortable="true" FilterOperator="FilterOperator.Contains">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.ErpPlantIdDest
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="ErpIdDest" Title="Ресурс-приёмник SAP" TextAlign="TextAlign.Center"
                                             Filterable="true" Sortable="true" FilterOperator="FilterOperator.Contains">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.ErpIdDest
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    @*                     <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="IsWarehouseDest" Title="Приёмник в SAP является складом" Filterable="true" TextAlign="TextAlign.Center">
            <Template Context="data">
            <RadzenCheckBox @bind-Value=data.IsWarehouseDest ReadOnly="true" TriState="false" TValue="bool?" />
            </Template>
            </RadzenDataGridColumnApp> *@

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="ToStringSapEquipmentDestDTOFK" Title="Приёмник в СИР" TextAlign="TextAlign.Center"
                                             Filterable="true" Sortable="true" FilterOperator="FilterOperator.Contains">
                        <Template Context="data1">
                            @if (!data1.ToStringSapEquipmentDestDTOFK.Equals("НЕ НАЙДЕН"))
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                    @data1.ToStringSapEquipmentDestDTOFK
                                </div>
                            }
                            else
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px; color: red">
                                    @data1.ToStringSapEquipmentDestDTOFK
                                </div>
                            }
                        </Template>
                    </RadzenDataGridColumnApp>


                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="SapEquipmentDestDTOFK.IsWarehouse" Title="Приёмник в СИР является складом" Filterable="true" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            @if (data.SapEquipmentDestDTOFK != null)
                            {
                                <RadzenCheckBox @bind-Value=data.SapEquipmentDestDTOFK.IsWarehouse ReadOnly="true" TriState="false" TValue="bool" />
                            }
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="SapDocumentEnterTime" Title="Время ввода док-та в SAP" TextAlign="TextAlign.Center"
                                             Filterable="true" Sortable="true" FilterOperator="FilterOperator.Equals">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.SapDocumentEnterTime.ToString("dd.MM.yyyy HH:mm:ss.fff")
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>


                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="SapDocumentPostTime" Title="Время значения" TextAlign="TextAlign.Center"
                                             Filterable="true" Sortable="true" FilterOperator="FilterOperator.Equals">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                <strong>
                                    @data1.SapDocumentPostTime.ToString("dd.MM.yyyy HH:mm:ss.fff")
                                </strong>
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="ToStringValue" Title="Значение" TextAlign="TextAlign.Center" Filterable="true" Sortable="true"
                                             FilterProperty="Value" SortProperty="Value" FilterOperator="FilterOperator.Equals">
                        <Template Context="data1">
                            <div style="white-space:pre-wrap; font-size: 12px">
                                <strong>
                                    @data1.ToStringValue
                                </strong>
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Title="Ед.изм.SAP"
                                             Property="SapUnitOfMeasure" Type="typeof(IEnumerable<string>)"
                                             Filterable="true" Sortable="true"
                                             FilterValue="@selectedSapUnitOfMeasure" FilterOperator="FilterOperator.Contains"
                                             LogicalFilterOperator="LogicalFilterOperator.Or"
                                             TextAlign="TextAlign.Center">
                        <FilterTemplate>
                            <RadzenDropDown @bind-Value=@selectedSapUnitOfMeasure
                                            Change=OnSelectedSapUnitOfMeasureChange Data="@(distinctSapUnitOfMeasureInList)" AllowClear="true" Multiple="true"
                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true"
                                            Style="font-size:0.75rem;width: 30vw;"
                                            SelectAllText="ВСЕ" SelectedItemsText="элементов выбрано" />
                        </FilterTemplate>
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.SapUnitOfMeasure
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="MesGone" Title="СИР забрал" Filterable="true" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <RadzenCheckBox @bind-Value=data.MesGone ReadOnly="true" TriState="false" TValue="bool?" />
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="MesGoneTime" Title="СИР забрал время" TextAlign="TextAlign.Center"
                                             FilterProperty="MesGoneTime" FilterOperator="FilterOperator.Equals" SortProperty="MesGoneTime">
                        <Template Context="data1">
                            @if (data1.MesGoneTime != null)
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                    <strong>
                                        @(((DateTime)data1.MesGoneTime).ToString("dd.MM.yyyy HH:mm:ss.fff"))
                                    </strong>
                                </div>
                            }
                        </Template>
                    </RadzenDataGridColumnApp>


                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="MesError" Title="СИР ошибка" Filterable="true" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <RadzenCheckBox @bind-Value=data.MesError ReadOnly="true" TriState="false" TValue="bool?" />
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="MesErrorMessage" Title="СИР сообщение об ошибке" TextAlign="TextAlign.Center"
                                             FilterProperty="MesErrorMessage" FilterOperator="FilterOperator.Contains" SortProperty="MesErrorMessage">
                        <Template Context="data1">
                            @if (data1.MesErrorMessage != null)
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                    @data1.MesErrorMessage
                                </div>
                            }
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="MesMovementDTOFK.MesParamDTOFK.Code" Title="Код тэга СИР" FilterProperty="MesMovementDTOFK.MesParamDTOFK.Code" SortProperty="MesMovementDTOFK.MesParamDTOFK.Code" TextAlign="TextAlign.Center" FilterOperator="FilterOperator.Contains">
                        <Template Context="data1">
                            @if (data1.MesMovementDTOFK != null)
                            {
                                @if (data1.MesMovementDTOFK.MesParamDTOFK != null)

                                {
                                    <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                        @(data1.MesMovementDTOFK.MesParamDTOFK.Code == null ? "" : data1.MesMovementDTOFK.MesParamDTOFK.Code)
                                    </div>
                                }
                            }
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="MesMovementDTOFK.MesParamDTOFK.Name" Title="Наим. тэга СИР" FilterProperty="MesMovementDTOFK.MesParamDTOFK.Name" SortProperty="MesMovementDTOFK.MesParamDTOFK.Name" TextAlign="TextAlign.Center" FilterOperator="FilterOperator.Contains">
                        <Template Context="data1">
                            @if (data1.MesMovementDTOFK != null)
                            {
                                @if (data1.MesMovementDTOFK.MesParamDTOFK != null)

                                {
                                    <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                        @(data1.MesMovementDTOFK.MesParamDTOFK.Name == null ? "" : data1.MesMovementDTOFK.MesParamDTOFK.Name)
                                    </div>
                                }
                            }
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="ToStringMesMovementId" Title="ИД в архиве данных" FilterProperty="ToStringMesMovementId" SortProperty="ToStringMesMovementId" TextAlign="TextAlign.Center" FilterOperator="FilterOperator.Contains">
                        <Template Context="data1">
                            @if (data1.ToStringMesMovementId != null)
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                    @data1.ToStringMesMovementId
                                </div>
                            }
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Property="PreviousErpId" Title="ИД пред. записи" FilterProperty="PreviousErpId" SortProperty="PreviousErpId" TextAlign="TextAlign.Center" FilterOperator="FilterOperator.Contains">
                        <Template Context="data1">
                            @if (data1.PreviousErpId != null)
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                    @data1.PreviousErpId
                                </div>
                            }
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapMovementsINDTO" Title="Тип движения в SAP"
                                             Property="MoveType" Type="typeof(IEnumerable<string>)"
                                             Filterable="true" Sortable="true"
                                             FilterValue="@selectedMoveTypes" FilterOperator="FilterOperator.Contains"
                                             LogicalFilterOperator="LogicalFilterOperator.Or"
                                             TextAlign="TextAlign.Center">
                        <FilterTemplate>
                            <RadzenDropDown @bind-Value=@selectedMoveTypes
                                            Change=OnSelectedMoveTypesChange Data="@(distinctMoveTypesInList)" AllowClear="true" Multiple="true"
                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true"
                                            Style="font-size:0.75rem;width: 30vw;"
                                            SelectAllText="ВСЕ" SelectedItemsText="элементов выбрано" />
                        </FilterTemplate>
                        <Template Context="data1">
                            @if (data1.MoveType != null)
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                    @data1.MoveType
                                </div>
                            }
                        </Template>
                    </RadzenDataGridColumnApp>
                </Columns>
            </RadzenDataGridApp>
        }
        else
        {
            <Loading IsLoading="@IsLoading"/>
        }
    </div>
}

<style>
    .rz-dropdown-item, .rz-menuitem, .rz-autocomplete-list-item, .rz-multiselect-item, .rz-dropdown-items li, .rz-autocomplete-items li, .rz-multiselect-items li {
        font-size: 0.75rem;
    }
</style>

@code {
    [CascadingParameter]
    bool iconMenuActive { get; set; }

    _Dialogs? _dialogs { get; set; }

    IEnumerable<SapMovementsINDTO>? sapMovementsINDTOs;
    RadzenDataGrid<SapMovementsINDTO> sapMovementsINDTOGrid;

    IEnumerable<string> selectedMoveTypes;
    IEnumerable<string> selectedSapUnitOfMeasure;
    List<string> distinctMoveTypesInList = new List<string>();
    List<string> distinctSapUnitOfMeasureInList = new List<string>();

    DateTime? startDate = DateTime.Today;
    DateTime? endDate = DateTime.Today.AddDays(1).AddSeconds(-1);

    bool excelExportFlag = false;

    int applyRadioGroupValue = 1;

    bool ApplyButtonDisabled = false;

    public bool IsLoading { get; set; } = true;
    public AdminMode IsAdmin { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }


    DataGridSettings _sapMovementsINGridSettings;
    public DataGridSettings SapMovementsINGridSettings
    {
        get
        {
            return _sapMovementsINGridSettings;
        }
        set
        {
            if (_sapMovementsINGridSettings != value)
            {
                _sapMovementsINGridSettings = value;
                InvokeAsync(SaveStateAsync);
            }
        }
    }

    private async Task LoadStateAsync()
    {
        await Task.CompletedTask;
        if (!(await SD.CheckPageSettingsVersion("SapMovementsINGridSettings", _jsRuntime)))
            return;
        var result = await _jsRuntime.InvokeAsync<string>("window.localStorage.getItem", "SapMovementsINGridSettings");
        if (!string.IsNullOrEmpty(result))
        {
            _sapMovementsINGridSettings = JsonSerializer.Deserialize<DataGridSettings>(result);
            if (_sapMovementsINGridSettings != null)
            {
                var col_var = _sapMovementsINGridSettings.Columns.Where(c => c.Property == "MoveType").FirstOrDefault();
                if (col_var.FilterValue != null)
                {
                    selectedMoveTypes = JsonSerializer.Deserialize<List<string>>(col_var.FilterValue.ToString());
                }
                var col_var2 = _sapMovementsINGridSettings.Columns.Where(c => c.Property == "SapUnitOfMeasure").FirstOrDefault();
                if (col_var2.FilterValue != null)
                {
                    selectedSapUnitOfMeasure = JsonSerializer.Deserialize<List<string>>(col_var2.FilterValue.ToString());
                }
            }
        }
    }

    private async Task SaveStateAsync()
    {
        await Task.CompletedTask;
        await _jsRuntime.InvokeVoidAsync("eval", $@"window.localStorage.setItem('SapMovementsINGridSettings', '{JsonSerializer.Serialize<DataGridSettings>(SapMovementsINGridSettings)}')");
        await SD.SetPageSettingsVersion("SapMovementsINGridSettings", _jsRuntime);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {          
            IsAdmin = await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On);
            if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
            {
                applyRadioGroupValue = 1;
                ApplyButtonDisabled = false;

                if (startDate == null || endDate == null)
                {
                    startDate = DateTime.Today;
                    endDate = DateTime.Today.AddDays(1).AddSeconds(-1);
                }
                IsLoading = true;
                await LoadStateAsync();
                await Task.Delay(100);
                await InvokeAsync(StateHasChanged);

                await GetRows();

                IsLoading = false;
                await Task.Delay(100);
                await InvokeAsync(StateHasChanged);
            }
            else
                _navigationManager.NavigateTo("/SAPshowcase");
        }
    }

    private async Task ChangeStartDate()
    {
        if (startDate == null)
        {
            await _jsRuntime.ToastrWarning("Пустая дата начала интервала");
            ApplyButtonDisabled = true;
            return;
        }
        if (startDate != null && endDate != null)
        {
            if (startDate > endDate)
            {
                await _jsRuntime.ToastrWarningLight("Дата начала интервала больше даты окончания");
                ApplyButtonDisabled = true;
                return;
            }
            var duration = ((DateTime)endDate - (DateTime)startDate).Duration();
            if (duration.TotalDays > 31)
            {
                await _jsRuntime.ToastrWarningLight("Интервал дат больше 31 дня. Таймаут запроса к БД " + (SD.SqlCommandConnectionTimeout / 60).ToString() + " минуты.");
            }
            ApplyButtonDisabled = false;
        }
        // ApplyButtonDisabled = false;
        // maxEndDate = ((DateTime)startDate).AddMonths(1).AddSeconds(-1);
        // minEndDate = ((DateTime)startDate).AddDays(-1);
        // if (endDate > maxEndDate)
        //     endDate = maxEndDate;
    }

    private async Task ChangeEndDate()
    {
        if (endDate == null)
        {
            await _jsRuntime.ToastrWarning("Пустая дата окончания");
            ApplyButtonDisabled = true;
            return;
        }
        if (startDate != null && endDate != null)
        {
            if (startDate > endDate)
            {
                await _jsRuntime.ToastrWarningLight("Дата начала интервала больше даты окончания");
                ApplyButtonDisabled = true;
                return;
            }
            var duration = ((DateTime)endDate - (DateTime)startDate).Duration();
            if (duration.TotalDays > 31)
            {
                await _jsRuntime.ToastrWarningLight("Интервал дат больше 31 дней. Таймаут запроса к БД " + (SD.SqlCommandConnectionTimeout / 60).ToString() + " минуты.");
            }
            ApplyButtonDisabled = false;
        }
        // ApplyButtonDisabled = false;
    }


    async Task GetRows()
    {
        IsLoading = true;
        //await LoadStateAsync();
        await Task.Delay(100);
        await InvokeAsync(StateHasChanged);

        if (applyRadioGroupValue == 1)
            sapMovementsINDTOs = await _sapMovementsINRepository.GetAllByTimeInterval(startDate, endDate, "VALUETIME");
        else
            sapMovementsINDTOs = await _sapMovementsINRepository.GetAllByTimeInterval(startDate, endDate, "ADDTIME");

        List<string> distinctMoveTypesInList = new List<string>();
        List<string> distinctSapUnitOfMeasureInList = new List<string>();
        await GetDistincts();

        ApplyButtonDisabled = false;
        IsLoading = false;
        await Task.Delay(100);
        await InvokeAsync(StateHasChanged);
    }


    // async Task EditRow(SapMovementsINDTO? sapMovementsINDTO)
    // {
    //     await _jsRuntime.ToastrSuccess("Не реализовано");
    // }


    // async Task DeleteRow(SapMovementsINDTO sapMovementsINDTO)
    // {
    //     await _jsRuntime.ToastrSuccess("Не реализовано");
    // }


    async Task ExcelExport()
    {
        excelExportFlag = true;
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);

        int viewCount = sapMovementsINDTOGrid.View.Count();

        // запас 100 строк на заголовки например
        if (viewCount > (SD.MaxAllowedExcelRows - 100))
        {
            await _jsRuntime.InvokeVoidAsync("ShowSwal", "warning", "В выборке " + viewCount.ToString()
                + " записей, что близко или превышает максимально доступное для Excel количество записей в "
                + SD.MaxAllowedExcelRows.ToString() + " строк." +
                "\n\n\n Установите фильтры или уменьшите интервал дат, чтобы количество выгружаемых строк не превышало этот предел.");
        }
        else
        {
            if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
            {
                string userLogin = await _authorizationRepository.GetCurrentUser(SD.MessageBoxMode.Off, SD.LoginReturnMode.LoginOnly);
                string filename = "SapMovementsIN_Export_" + userLogin.Replace("\\", "_") + "_" + DateTime.Now.ToString().Replace(":", "_") + ".xlsx";
                await _simpleExcelExportRepository.GenerateExcelSapMovementsIN(filename, (IEnumerable<SapMovementsINDTO>)sapMovementsINDTOGrid.View);

                await _jsRuntime.InvokeVoidAsync("open", "DownloadFileController/SimpleExcelExport/" + filename, "_blank");
            }
        }
        excelExportFlag = false;
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);
    }

    async Task GetDistincts()
    {
        if (sapMovementsINDTOs != null)
        {
            distinctMoveTypesInList = (List<string>)sapMovementsINDTOs.Where(u => u.MoveType != null).OrderBy(u => u.MoveType)
                .Select(u => u.MoveType).Distinct().ToList();
            distinctSapUnitOfMeasureInList = (List<string>)sapMovementsINDTOs.Where(u => u.SapUnitOfMeasure != null).OrderBy(u => u.SapUnitOfMeasure)
                .Select(u => u.SapUnitOfMeasure).Distinct().ToList();

        }
    }

    void OnSelectedMoveTypesChange(object value)
    {
        if (selectedMoveTypes != null && !selectedMoveTypes.Any())
        {
            selectedMoveTypes = null;
        }
    }

    void OnSelectedSapUnitOfMeasureChange(object value)
    {
        if (selectedSapUnitOfMeasure != null && !selectedSapUnitOfMeasure.Any())
        {
            selectedSapUnitOfMeasure = null;
        }
    }

    private async Task CleanPageSettingsCustom()
    {
        await Task.CompletedTask;
        var selectionResult = await _dialogService.Confirm("Будут очищены пользовательские настройки страницы: видимость колонок, порядок следования колонок, ширина колонок, применённые фильтры", "Сбросить настройки интерфейса страницы",
        new ConfirmOptions { OkButtonText = "Очистить", CancelButtonText = "Отмена", Left = "30vw" });

        if (selectionResult != true)
        {
            await InvokeAsync(SaveStateAsync);
            return;
        }

        var result = await _jsRuntime.InvokeAsync<string>
            ("window.localStorage.removeItem", "SapMovementsINGridSettings");

        SapMovementsINGridSettings = null;

        selectedMoveTypes = null;
        selectedSapUnitOfMeasure = null;

        if (sapMovementsINDTOs != null)
        {
            await GetDistincts();
        }

        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);

    }

    async Task CleanAllFiltersCustom()
    {
        var selectionResult = await _dialogService.Confirm("Будут очищены все фильтры", "Очистить фильтры",
        new ConfirmOptions { OkButtonText = "Очистить", CancelButtonText = "Отмена", Left = "30vw" });

        if (selectionResult != true)
        {
            await InvokeAsync(SaveStateAsync);
            return;
        }

        if (SapMovementsINGridSettings != null)
        {
            foreach (var c in SapMovementsINGridSettings.Columns)
            {
                c.FilterValue = null;
                c.SecondFilterValue = null;
            }

        }

        selectedMoveTypes = null;
        selectedSapUnitOfMeasure = null;

        if (sapMovementsINDTOs != null)
        {
            await GetDistincts();
        }

        await InvokeAsync(SaveStateAsync);
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);

    }

    async Task CleanAllOrdersCustom()
    {

        var selectionResult = await _dialogService.Confirm("Будут очищены все сортировки", "Очистить сортировки",
        new ConfirmOptions { OkButtonText = "Очистить", CancelButtonText = "Отмена", Left = "30vw" });

        if (selectionResult != true)
        {
            await InvokeAsync(SaveStateAsync);
            return;
        }

        if (SapMovementsINGridSettings != null)
        {
            foreach (var c in SapMovementsINGridSettings.Columns)
            {
                c.SortOrder = null;
            }
            await InvokeAsync(SaveStateAsync);
            await Task.Delay(200);
            await InvokeAsync(StateHasChanged);
        }
    }

    async Task ExcelImport()
    {
        IsLoading = true;
        if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
        {
            SapMaterialDTO dialogResult = null;
            IsLoading = false;
            dialogResult = await _dialogService.OpenAsync<LoadFromExcel>("Загрузка данных из Excel (Витрина SAP - Движения-вход)", new Dictionary
                    <string, object>
                    () { { "LoadFromExcelReportTemplateTypeNameSettingName", SD.SapMovementsINLoadFromExcelReportTemplateTypeNameSettingName }
                    ,{"DataList", (IEnumerable<SapMovementsINDTO>)sapMovementsINDTOGrid.View }}
                    , new DialogOptions() { Width = $"{60}rem", Left = "calc(50vw - 40rem)" });
            IsLoading = false;
            await this.OnAfterRenderAsync(true);
        }
        IsLoading = false;
    }
}



