@page "/SAPshowcase/SapNdoOUT"
@attribute [Authorize]

@using System.Text.Json;
@using DictionaryManagement_Business.Repository.IRepository;
@using DictionaryManagement_Models.IntDBModels;


@inject IJSRuntime _jsRuntime
@inject ISapNdoOUTRepository _sapNdoOUTRepository
@inject ISimpleExcelExportRepository _simpleExcelExportRepository

@inject DialogService _dialogService

@if (IsAdmin == true)
{
    <_Dialogs @ref="_dialogs"></_Dialogs>

    <div class="row">

        <div class="col-6">
            <h6 class="card-title text-primary"><a href="/SAPshowcase">Витрины SAP</a> - <a href="/SAPshowcase/SapNdoOUT">НДО-выход</a></h6>
        </div>


        @if (IsLoading != true)
        {

            <RadzenRow Gap="1rem" Class="rz-p-0 rz-p-lg-2">
                <RadzenColumn Size="12" SizeMD="12">
                    <RadzenStack>
                        <RadzenStack Gap="1rem">
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenRadioButtonList @bind-Value=@applyRadioGroupValue TValue="int" Change="@(args => ChangeEndDate())">
                                    <Items>
                                        <RadzenRadioButtonListItem Text="По времени значения" Value="1" />
                                        <RadzenRadioButtonListItem Text="По времени добавления" Value="2" />
                                    </Items>
                                </RadzenRadioButtonList>
                                <RadzenDatePicker @bind-Value=@startDate Change="@(args => ChangeStartDate())" ShowTime="true" ShowSeconds="true" DateFormat="dd.MM.yyyy HH:mm:ss" />
                                <RadzenDatePicker @bind-Value=@endDate Change="@(args => ChangeEndDate())" Min=minEndDate Max=@maxEndDate ShowTime="true" ShowSeconds="true" DateFormat="dd.MM.yyyy HH:mm:ss" />
                                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="done" Disabled="@ApplyButtonDisabled" Text="Применить" Click="@(args => GetRows())" />
                                <RadzenButton title="Простой экспорт в Excel с учётом применённых фильтров и упорядочивания" Text="--> в Excel" Icon="grid_on" Click="@(args => ExcelExport())" IsBusy=@excelExportFlag BusyText="Выполняется ..." />
                                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Text="Добавить запись" Click="@(args => EditRow(null))" />
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>


            <RadzenDataGridApp @bind-Settings="@SapNdoOUTGridSettings" SettingsName="SapNdoOUTGridSettings" @ref="sapNdoOUTDTOGrid" AllowAlternatingRows="true" AllowFiltering="true" AllowPaging="false" AllowSorting="true" AllowMultiColumnSorting="true" EditMode="DataGridEditMode.Single"
                               Data="@sapNdoOUTDTOs" TItem="SapNdoOUTDTO"
                               FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                               FilterMode="FilterMode.SimpleWithMenu"
                               Density=Density.Compact
                               ShowPagingSummary="true"                               
                               AllowVirtualization="true"
                               AllowColumnReorder="true"
                               AllowColumnResize="true"
                               Style=@(iconMenuActive ? "height:calc(100vh - 190px); width:1760px" : "height:calc(100vh - 190px); width:1600px")
                               ColumnWidth="200px"
                               AllowColumnPicking="true"
                               GridLines="DataGridGridLines.Both">
                <Columns>
                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="ToStringId" Title="Ид записи" TextAlign="TextAlign.Center"
                                             FilterProperty="Id" SortProperty="Id">
                        <Template Context="data1">
                            <div style="white-space:pre-wrap; font-size: 12px">
                                <strong>
                                    @data1.ToStringId
                                </strong>
                            </div>
                        </Template>

                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="TagName" Title="Имя тэга" FilterProperty="TagName" SortProperty="TagName" FilterOperator="FilterOperator.Contains">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.TagName
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="AddTime" Title="Время добавления" TextAlign="TextAlign.Center"
                                             Filterable="true" Sortable="true" FilterOperator="FilterOperator.Equals">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.AddTime.ToString("dd.MM.yyyy HH:mm:ss.fff")
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="ValueTime" Title="Время значения" TextAlign="TextAlign.Center"
                                             Filterable="true" Sortable="true" FilterOperator="FilterOperator.Equals">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                <strong>
                                    @data1.ValueTime.ToString("dd.MM.yyyy HH:mm:ss.fff")
                                </strong>
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="ToStringValue" Title="Значение" TextAlign="TextAlign.Center" Filterable="true" Sortable="true"
                                             FilterProperty="Value" SortProperty="Value" FilterOperator="FilterOperator.Equals">
                        <Template Context="data1">
                            <div style="white-space:pre-wrap; font-size: 12px">
                                <strong>
                                    @data1.ToStringValue
                                </strong>
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="SapGone" Title="Забрал SAP" Filterable="true" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <RadzenCheckBox @bind-Value=data.SapGone ReadOnly="true" TriState="false" TValue="bool" />
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="SapGoneTime" Title="Когда Sap забрал" TextAlign="TextAlign.Center"
                                             FilterProperty="SapGoneTime" FilterOperator="FilterOperator.Equals" SortProperty="SapGoneTime">
                        <Template Context="data1">
                            @if (data1.SapGoneTime != null)
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                    <strong>
                                        @(((DateTime)data1.SapGoneTime).ToString("dd.MM.yyyy HH:mm:ss.fff"))
                                    </strong>
                                </div>
                            }
                        </Template>
                    </RadzenDataGridColumnApp>


                    <RadzenDataGridColumnApp Title="Действия" TItem="SapNdoOUTDTO" Context="sapNdoOUTDTO" Filterable="false" Sortable="false" TextAlign="TextAlign.Right">
                        <Template Context="sapNdoOUTDTO">
                            <RadzenButton title="Редактировать запись" Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(sapNdoOUTDTO))" @onclick:stopPropagation="true">
                            </RadzenButton>
                            <RadzenButton title="Удалить запись" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(sapNdoOUTDTO))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                    </RadzenDataGridColumnApp>
                </Columns>
            </RadzenDataGridApp>
        }
        else
        {
            if (IsLoading)
            {
                //отображение gif загрузки
                <div class="text-center">
                    <img src="/images/loading.gif">
                </div>

            }
        }

    </div>
}

<style>
    .rz-dropdown-item, .rz-menuitem, .rz-autocomplete-list-item, .rz-multiselect-item, .rz-dropdown-items li, .rz-autocomplete-items li, .rz-multiselect-items li {
        font-size: 0.75rem;
    }
</style>

@code {
    [CascadingParameter]
    bool iconMenuActive { get; set; }

    _Dialogs? _dialogs { get; set; }

    IEnumerable<SapNdoOUTDTO>? sapNdoOUTDTOs;

    RadzenDataGrid<SapNdoOUTDTO> sapNdoOUTDTOGrid;

    DateTime startDate = DateTime.Today.AddDays(-7);
    DateTime endDate = DateTime.Today.AddDays(1).AddSeconds(-1);
    DateTime maxEndDate = DateTime.Today.AddDays(1).AddSeconds(-1);
    DateTime minEndDate = DateTime.Today.AddMonths(-1).AddDays(-8);

    bool excelExportFlag = false;

    int applyRadioGroupValue = 1;

    bool ApplyButtonDisabled = true;

    public bool IsLoading { get; set; }
    public bool IsAdmin { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsAdmin = true;
            if (firstRender)
            {
                applyRadioGroupValue = 1;
                ApplyButtonDisabled = false;

                //await GetRows();

                startDate = DateTime.Today.AddDays(-7);
                endDate = DateTime.Today.AddDays(1).AddSeconds(-1);
                maxEndDate = DateTime.Today.AddDays(1).AddSeconds(-1);
                minEndDate = DateTime.Today.AddMonths(-1).AddDays(-1);

                IsLoading = true;
                await LoadStateAsync();
                StateHasChanged();
                //sapNdoOUTDTOs = await _sapNdoOUTRepository.GetAllByTimeInterval(startDate, endDate, "VALUETIME");
                await GetRows();

                IsLoading = false;
                StateHasChanged();
            }
        }
        else
            _navigationManager.NavigateTo("/SAPshowcase");
    }


    DataGridSettings _sapNdoOUTGridSettings;
    public DataGridSettings SapNdoOUTGridSettings
    {
        get
        {
            return _sapNdoOUTGridSettings;
        }
        set
        {
            if (_sapNdoOUTGridSettings != value)
            {
                _sapNdoOUTGridSettings = value;
                InvokeAsync(SaveStateAsync);
            }
        }
    }

    private async Task LoadStateAsync()
    {
        await Task.CompletedTask;
        if (!(await SD.CheckPageSettingsVersion("SapNdoOUTGridSettings", _jsRuntime)))
            return;
        var result = await _jsRuntime.InvokeAsync<string>("window.localStorage.getItem", "SapNdoOUTGridSettings");
        if (!string.IsNullOrEmpty(result))
        {
            _sapNdoOUTGridSettings = JsonSerializer.Deserialize<DataGridSettings>(result);
        }
    }

    private async Task SaveStateAsync()
    {
        await Task.CompletedTask;
        await _jsRuntime.InvokeVoidAsync("eval", $@"window.localStorage.setItem('SapNdoOUTGridSettings', '{JsonSerializer.Serialize<DataGridSettings>(SapNdoOUTGridSettings)}')");
        await SD.SetPageSettingsVersion("SapNdoOUTGridSettings", _jsRuntime);
    }


    private async Task ChangeStartDate()
    {
        ApplyButtonDisabled = false;
        maxEndDate = startDate.AddMonths(1).AddSeconds(-1);
        minEndDate = startDate.AddDays(-1);
        if (endDate > maxEndDate)
            endDate = maxEndDate;

    }

    private async Task ChangeEndDate()
    {

        ApplyButtonDisabled = false;
    }


    async Task GetRows()
    {
        IsLoading = true;
        await LoadStateAsync();
        StateHasChanged();
        if (applyRadioGroupValue == 1)
            sapNdoOUTDTOs = await _sapNdoOUTRepository.GetAllByTimeInterval(startDate, endDate, "VALUETIME");
        else
            sapNdoOUTDTOs = await _sapNdoOUTRepository.GetAllByTimeInterval(startDate, endDate, "ADDTIME");
        ApplyButtonDisabled = true;
        IsLoading = false;
        StateHasChanged();

    }


    async Task EditRow(SapNdoOUTDTO? sapNdoOUTDTO)
    {
        await _jsRuntime.ToastrSuccess("Не реализовано");
    }


    async Task DeleteRow(SapNdoOUTDTO sapNdoOUTDTO)
    {
        await _jsRuntime.ToastrSuccess("Не реализовано");
    }


    async Task ExcelExport()
    {
        excelExportFlag = true;
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);

        int viewCount = sapNdoOUTDTOGrid.View.Count();

        // запас 100 строк на заголовки например
        if (viewCount > (SD.MaxAllowedExcelRows - 100))
        {
            await _jsRuntime.InvokeVoidAsync("ShowSwal", "warning", "В выборке " + viewCount.ToString()
                + " записей, что близко или превышает максимально доступное для Excel количество записей в "
                + SD.MaxAllowedExcelRows.ToString() + " строк." +
                "\n\n\n Установите фильтры или уменьшите интервал дат, чтобы количество выгружаемых строк не превышало этот предел.");
        }
        else
        {

            if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
            {
                string userLogin = await _authorizationRepository.GetCurrentUser(SD.MessageBoxMode.Off, SD.LoginReturnMode.LoginOnly);
                string filename = "SapNdoOUT_Export_" + userLogin.Replace("\\", "_") + "_" + DateTime.Now.ToString().Replace(":", "_") + ".xlsx";
                await _simpleExcelExportRepository.GenerateExcelSapNdoOUT(filename, (IEnumerable<SapNdoOUTDTO>)sapNdoOUTDTOGrid.View);

                await _jsRuntime.InvokeVoidAsync("open", "DownloadFileController/SimpleExcelExport/" + filename, "_blank");
            }
        }
        excelExportFlag = false;
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);
    }
}

@code
{


}
