@page "/SAPshowcase/SapNdoOUT"
@attribute [Authorize]

@using System.Text.Json;
@using DictionaryManagement_Business.Repository.IRepository;
@using DictionaryManagement_Models.IntDBModels;


@inject IJSRuntime _jsRuntime
@inject ISapNdoOUTRepository _sapNdoOUTRepository
@inject ISimpleExcelExportRepository _simpleExcelExportRepository

@inject DialogService _dialogService

@if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
{
    <_Dialogs @ref="_dialogs"></_Dialogs>

    <div class="row">
        <div class="col-6">
            <h6 class="card-title text-primary"><a href="/SAPshowcase">Витрины SAP</a> - <a href="/SAPshowcase/SapNdoOUT">НДО-выход</a></h6>
        </div>

        @if (IsLoading != true)
        {

            <RadzenRow Gap="0.5rem" Class="rz-p-0 rz-p-lg-0">
                <RadzenColumn Size="12" SizeMD="12">
                    <RadzenStack>
                        <RadzenStack Gap="0.5rem">
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenRadioButtonList @bind-Value=@applyRadioGroupValue TValue="int" Change="@(args => ChangeEndDate())">
                                    <Items>
                                        <RadzenRadioButtonListItem Text="По времени значения" Value="1" />
                                        <RadzenRadioButtonListItem Text="По времени добавления" Value="2" />
                                    </Items>
                                </RadzenRadioButtonList>
                                <RadzenDatePicker @bind-Value=@startDate Change="@(args => ChangeStartDate())" ShowTime="true" ShowSeconds="true" DateFormat="dd.MM.yyyy HH:mm:ss" />
                                @*                                 <RadzenDatePicker @bind-Value=@endDate Change="@(args => ChangeEndDate())" Min=minEndDate Max=@maxEndDate ShowTime="true" ShowSeconds="true" DateFormat="dd.MM.yyyy HH:mm:ss" /> *@
                                <RadzenDatePicker @bind-Value=@endDate Change="@(args => ChangeEndDate())" ShowTime="true" ShowSeconds="true" DateFormat="dd.MM.yyyy HH:mm:ss" />
                                <RadzenButton Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Success" Icon="done" Disabled="@ApplyButtonDisabled" Text="Применить" Click="@(args => GetRows())" />
                                <RadzenButton Size="ButtonSize.Small" title="Простой экспорт в Excel с учётом применённых фильтров и упорядочивания" Text="--> в Excel" Icon="grid_on" Click="@(args => ExcelExport())" IsBusy=@excelExportFlag BusyText="Выполняется ..." />
                                <RadzenButton Size="ButtonSize.Small" title="Загрузка данных из Excel в Витрины SAP - НДО-выход" Text="Из Excel <--" Icon="grid_on" Click="@(args => ExcelImport())" />
                                @* <RadzenText TextStyle="TextStyle.H6">@(sapNdoOUTDTOGrid.View.Count().ToString())</RadzenText> *@
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>


            <RadzenDataGridApp @bind-Settings="@SapNdoOUTGridSettings" SettingsName="SapNdoOUTGridSettings" @ref="sapNdoOUTDTOGrid" AllowAlternatingRows="true" AllowFiltering="true" AllowPaging="false" AllowSorting="true" AllowMultiColumnSorting="true" EditMode="DataGridEditMode.Single"
                               Data="@sapNdoOUTDTOs" TItem="SapNdoOUTDTO"
                               FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                               FilterMode="FilterMode.Advanced"
                               Density=Density.Compact
                               ShowPagingSummary="true"
                               AllowVirtualization="true"
                               AllowColumnReorder="true"
                               AllowColumnResize="true"
                               Style=@(iconMenuActive ? "height:calc(100vh - 160px); width:calc(100vw - 120px)" : "height:calc(100vh - 160px); width:calc(100vw - 280px);")
                               ColumnWidth="200px"
                               AllowColumnPicking="true"
                               GridLines="DataGridGridLines.Both"
                               @bind-Value=@selectedTableSapNdoOUT>                
                <Columns>
                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="ToStringId" Title="Ид записи" TextAlign="TextAlign.Center"
                                             FilterProperty="Id" SortProperty="Id">
                        <Template Context="data1">
                            <div style="white-space:pre-wrap; font-size: 12px">
                                <strong>
                                    @data1.ToStringId
                                </strong>
                            </div>
                        </Template>

                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="TagName" Title="Имя тэга" FilterProperty="TagName" SortProperty="TagName" FilterOperator="FilterOperator.Contains">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.TagName
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="AddTime" Title="Время добавления" TextAlign="TextAlign.Center"
                                             Filterable="true" Sortable="true" FilterOperator="FilterOperator.Equals">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.AddTime.ToString("dd.MM.yyyy HH:mm:ss.fff")
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="ValueTime" Title="Время значения" TextAlign="TextAlign.Center"
                                             Filterable="true" Sortable="true" FilterOperator="FilterOperator.Equals">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                <strong>
                                    @data1.ValueTime.ToString("dd.MM.yyyy HH:mm:ss.fff")
                                </strong>
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="ToStringValue" Title="Значение" TextAlign="TextAlign.Center" Filterable="true" Sortable="true"
                                             FilterProperty="Value" SortProperty="Value" FilterOperator="FilterOperator.Equals">
                        <Template Context="data1">
                            <div style="white-space:pre-wrap; font-size: 12px">
                                <strong>
                                    @data1.ToStringValue
                                </strong>
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="SapGone" Title="SAP обработал" Filterable="true" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <RadzenCheckBox @bind-Value=data.SapGone ReadOnly="true" TriState="false" TValue="bool" />
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="SapNdoOUTDTO" Property="SapGoneTime" Title="Когда Sap обработал" TextAlign="TextAlign.Center"
                                             FilterProperty="SapGoneTime" FilterOperator="FilterOperator.Equals" SortProperty="SapGoneTime">
                        <Template Context="data1">
                            @if (data1.SapGoneTime != null)
                            {
                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                    <strong>
                                        @(((DateTime)data1.SapGoneTime).ToString("dd.MM.yyyy HH:mm:ss.fff"))
                                    </strong>
                                </div>
                            }
                        </Template>
                    </RadzenDataGridColumnApp>


                    @*                     <RadzenDataGridColumnApp Title="Действия" TItem="SapNdoOUTDTO" Context="sapNdoOUTDTO" Filterable="false" Sortable="false" TextAlign="TextAlign.Right">
            <Template Context="sapNdoOUTDTO">
            <RadzenButton title="Редактировать запись" Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(sapNdoOUTDTO))" @onclick:stopPropagation="true">
            </RadzenButton>
            <RadzenButton title="Удалить запись" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(sapNdoOUTDTO))" @onclick:stopPropagation="true">
            </RadzenButton>
            </Template>
            </RadzenDataGridColumnApp>
            *@
                </Columns>
            </RadzenDataGridApp>
        }
        else
        {
            <Loading IsLoading="@IsLoading" />
        }
    </div>
}

<style>
    .rz-dropdown-item, .rz-menuitem, .rz-autocomplete-list-item, .rz-multiselect-item, .rz-dropdown-items li, .rz-autocomplete-items li, .rz-multiselect-items li {
        font-size: 0.75rem;
    }

    .rz-calendar .rz-inputtext {
        font-size: 14px !important;
        max-height: 1.9rem;
    }
</style>

@code {
    [CascadingParameter]
    bool iconMenuActive { get; set; }

    _Dialogs? _dialogs { get; set; }

    IEnumerable<SapNdoOUTDTO>? sapNdoOUTDTOs;

    RadzenDataGrid<SapNdoOUTDTO> sapNdoOUTDTOGrid;

    IList<SapNdoOUTDTO>? selectedTableSapNdoOUT;

    DateTime? startDate = DateTime.Today;
    DateTime? endDate = DateTime.Today.AddDays(1).AddSeconds(-1);

    bool excelExportFlag = false;

    int applyRadioGroupValue = 1;

    bool ApplyButtonDisabled = false;

    public bool IsLoading { get; set; } = true;
    public AdminMode IsAdmin { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsAdmin = await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On);
            if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
            {
                applyRadioGroupValue = 1;
                ApplyButtonDisabled = false;

                if (startDate == null || endDate == null)
                {
                    startDate = DateTime.Today;
                    endDate = DateTime.Today.AddDays(1).AddSeconds(-1);
                }

                IsLoading = true;
                await LoadStateAsync();
                await Task.Delay(100);
                await InvokeAsync(StateHasChanged);
                //sapNdoOUTDTOs = await _sapNdoOUTRepository.GetAllByTimeInterval(startDate, endDate, "VALUETIME");
                await GetRows();

                IsLoading = false;
                await Task.Delay(100);
                await InvokeAsync(StateHasChanged);
            }
            else
                _navigationManager.NavigateTo("/SAPshowcase");
        }

    }


    DataGridSettings _sapNdoOUTGridSettings;
    public DataGridSettings SapNdoOUTGridSettings
    {
        get
        {
            return _sapNdoOUTGridSettings;
        }
        set
        {
            if (_sapNdoOUTGridSettings != value)
            {
                _sapNdoOUTGridSettings = value;
                InvokeAsync(SaveStateAsync);
            }
        }
    }

    private async Task LoadStateAsync()
    {
        await Task.CompletedTask;
        if (!(await SD.CheckPageSettingsVersion("SapNdoOUTGridSettings", _jsRuntime)))
            return;
        var result = await _jsRuntime.InvokeAsync<string>("window.localStorage.getItem", "SapNdoOUTGridSettings");
        if (!string.IsNullOrEmpty(result))
        {
            _sapNdoOUTGridSettings = JsonSerializer.Deserialize<DataGridSettings>(result);
        }
    }

    private async Task SaveStateAsync()
    {
        await Task.CompletedTask;
        await _jsRuntime.InvokeVoidAsync("eval", $@"window.localStorage.setItem('SapNdoOUTGridSettings', '{JsonSerializer.Serialize<DataGridSettings>(SapNdoOUTGridSettings)}')");
        await SD.SetPageSettingsVersion("SapNdoOUTGridSettings", _jsRuntime);
    }


    private async Task ChangeStartDate()
    {
        if (startDate == null)
        {
            await _jsRuntime.ToastrWarning("Пустая дата начала интервала");
            ApplyButtonDisabled = true;
            return;
        }
        if (startDate != null && endDate != null)
        {
            if (startDate > endDate)
            {
                await _jsRuntime.ToastrWarningLight("Дата начала интервала больше даты окончания");
                ApplyButtonDisabled = true;
                return;
            }
            var duration = ((DateTime)endDate - (DateTime)startDate).Duration();
            if (duration.TotalDays > 31)
            {
                await _jsRuntime.ToastrWarningLight("Интервал дат больше 31 дня. Таймаут запроса к БД " + (SD.SqlCommandConnectionTimeout / 60).ToString() + " минуты.");
            }
            ApplyButtonDisabled = false;
        }
        // ApplyButtonDisabled = false;
        // maxEndDate = ((DateTime)startDate).AddMonths(1).AddSeconds(-1);
        // minEndDate = ((DateTime)startDate).AddDays(-1);
        // if (endDate > maxEndDate)
        //     endDate = maxEndDate;
    }

    private async Task ChangeEndDate()
    {
        if (endDate == null)
        {
            await _jsRuntime.ToastrWarning("Пустая дата окончания");
            ApplyButtonDisabled = true;
            return;
        }
        if (startDate != null && endDate != null)
        {
            if (startDate > endDate)
            {
                await _jsRuntime.ToastrWarningLight("Дата начала интервала больше даты окончания");
                ApplyButtonDisabled = true;
                return;
            }
            var duration = ((DateTime)endDate - (DateTime)startDate).Duration();
            if (duration.TotalDays > 31)
            {
                await _jsRuntime.ToastrWarningLight("Интервал дат больше 31 дней. Таймаут запроса к БД " + (SD.SqlCommandConnectionTimeout / 60).ToString() + " минуты.");
            }
            ApplyButtonDisabled = false;
        }
        // ApplyButtonDisabled = false;
    }


    async Task GetRows()
    {
        IsLoading = true;
        await LoadStateAsync();
        await Task.Delay(100);
        await InvokeAsync(StateHasChanged);
        if (applyRadioGroupValue == 1)
            sapNdoOUTDTOs = await _sapNdoOUTRepository.GetAllByTimeInterval(startDate, endDate, "VALUETIME");
        else
            sapNdoOUTDTOs = await _sapNdoOUTRepository.GetAllByTimeInterval(startDate, endDate, "ADDTIME");
        ApplyButtonDisabled = false;
        IsLoading = false;
        await Task.Delay(100);
        await InvokeAsync(StateHasChanged);
    }


    // async Task EditRow(SapNdoOUTDTO? sapNdoOUTDTO)
    // {
    //     await _jsRuntime.ToastrSuccess("Не реализовано");
    // }


    // async Task DeleteRow(SapNdoOUTDTO sapNdoOUTDTO)
    // {
    //     await _jsRuntime.ToastrSuccess("Не реализовано");
    // }


    async Task ExcelExport()
    {
        excelExportFlag = true;
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);

        int viewCount = sapNdoOUTDTOGrid.View.Count();

        // запас 100 строк на заголовки например
        if (viewCount > (SD.MaxAllowedExcelRows - 100))
        {
            await _jsRuntime.InvokeVoidAsync("ShowSwal", "warning", "В выборке " + viewCount.ToString()
                + " записей, что близко или превышает максимально доступное для Excel количество записей в "
                + SD.MaxAllowedExcelRows.ToString() + " строк." +
                "\n\n\n Установите фильтры или уменьшите интервал дат, чтобы количество выгружаемых строк не превышало этот предел.");
        }
        else
        {

            if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
            {
                string userLogin = await _authorizationRepository.GetCurrentUser(SD.MessageBoxMode.Off, SD.LoginReturnMode.LoginOnly);
                string filename = "SapNdoOUT_Export_" + userLogin.Replace("\\", "_") + "_" + DateTime.Now.ToString().Replace(":", "_") + ".xlsx";
                await _simpleExcelExportRepository.GenerateExcelSapNdoOUT(filename, (IEnumerable<SapNdoOUTDTO>)sapNdoOUTDTOGrid.View);
                await _jsRuntime.InvokeVoidAsync("open", "DownloadFileController/SimpleExcelExport/" + filename, "_blank");
            }
        }
        excelExportFlag = false;
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);
    }

    async Task ExcelImport()
    {
        IsLoading = true;
        if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
        {
            SapMaterialDTO dialogResult = null;
            IsLoading = false;
            dialogResult = await _dialogService.OpenAsync<LoadFromExcel>("Загрузка данных из Excel (Витрина SAP - НДО-выход)", new Dictionary
                    <string, object>
                    () { { "LoadFromExcelReportTemplateTypeNameSettingName", SD.SapNdoOUTLoadFromExcelReportTemplateTypeNameSettingName }
                    ,{"DataList", (IEnumerable<SapNdoOUTDTO>)sapNdoOUTDTOGrid.View }}
                    , new DialogOptions() { Width = $"{60}rem", Left = "calc(50vw - 40rem)" });
            await this.OnAfterRenderAsync(true);
        }
        IsLoading = false;
    }

}