@page "/administration/ADGroup/AddEditADGroup/{ADGroupId}"
@attribute [Authorize]

@using DictionaryManagement_Business.Repository.IRepository;
@using DictionaryManagement_Models.IntDBModels

@inject IJSRuntime _jsRuntime
@inject IADGroupRepository _adGroupRepository
@inject DialogService _dialogService
@inject ILogEventRepository _logEventRepository

@if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
{
    <div class="row my-2">

        <div class="col-md-10">
            @if (IsLoading)
            {
                <Loading IsLoading="@IsLoading" />
            }
            else
            {
                <EditForm Model="ActiveADGroupDTO" OnValidSubmit="AddEditADGroupProcedure">
                    <DataAnnotationsValidator />

                    <RadzenRow Gap="1rem">
                        <RadzenColumn Size="12">
                            <RadzenStack>

                                @if (ADGroupId != Guid.Empty)
                                {
                                    <RadzenFormField Text="ИД" Variant="@variant" Style="width: 100%; max-width: 900px;">
                                        <RadzenNumeric @bind-Value="@ActiveADGroupDTO.Id" ReadOnly="true" />
                                    </RadzenFormField>
                                }

                                <RadzenFormField Text="Наименование" Variant="@variant" Style="width: 100%; max-width: 900px;">
                                    <RadzenTextBox @bind-Value="@ActiveADGroupDTO.Name" ReadOnly="@(IsRoleModelChangeDisabled)" />
                                </RadzenFormField>
                                <ValidationMessage For="()=>ActiveADGroupDTO.Name"></ValidationMessage>

                                <RadzenFormField Text="Описание" Variant="@variant" Style="width: 100%; max-width: 900px;">
                                    <RadzenTextBox @bind-Value="@ActiveADGroupDTO.Description" ReadOnly="@(IsRoleModelChangeDisabled)" />
                                </RadzenFormField>
                                <ValidationMessage For="()=>ActiveADGroupDTO.Description"></ValidationMessage>
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>
                    @if(!IsRoleModelChangeDisabled)
                    {                                        
                    <div class="form-group py-2">
                        <button title="Сохранить изменения" style="pointer-events: auto;" class="btn btn-success" disabled=@(IsAdmin != AdminMode.IsAdmin)>@Title</button>
                        <NavLink @onclick="(() => OnClickCancel())" class="btn btn-secondary">Отмена</NavLink>
                        </div>
                    }
                    else
                    {
                        <div class="form-group py-2">                            
                            <NavLink @onclick="(() => OnClickCancel())" class="btn btn-info">Закрыть</NavLink>
                        </div>
                    }

                </EditForm>
            }
        </div>
    </div>
}


@code {

    [Parameter]
    public Guid ADGroupId { get; set; }

    [Parameter]
    public bool IsRoleModelChangeDisabled { get; set; }

    Variant variant = Variant.Outlined;

    public bool IsLoading { get; set; } = true;
    public AdminMode IsAdmin { get; set; }

    public ADGroupDTO ActiveADGroupDTO { get; set; }

    public IEnumerable<object> CheckedValues { get; set; } = new List<object>();

    private string Title { get; set; } = "Создать группу AD";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        IsLoading = true;
        await Task.Delay(10);
        await InvokeAsync(StateHasChanged);

        if (ADGroupId == Guid.Empty)
        {
            ActiveADGroupDTO = new ADGroupDTO();
        }
        else
        {
            ActiveADGroupDTO = await _adGroupRepository.Get(ADGroupId);
            Title = "Изменить группу AD";
        }

        if(IsRoleModelChangeDisabled)
        {
            Title = "Просмотр данных группы AD";
        }
        IsLoading = false;
        await Task.Delay(10);
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsAdmin = await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On);
            if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
            {
                IsLoading = true;
                await Task.Delay(10);
                await InvokeAsync(StateHasChanged);
                if (ADGroupId == Guid.Empty)
                {
                    ActiveADGroupDTO = new ADGroupDTO();
                }
                else
                {
                    ActiveADGroupDTO = await _adGroupRepository.Get(ADGroupId);
                    Title = "Изменить группу AD";
                }
                if (IsRoleModelChangeDisabled)
                {
                    Title = "Просмотр данных группы AD";
                }
                IsLoading = false;
                await Task.Delay(10);
                await InvokeAsync(StateHasChanged);
            }
            else
                _navigationManager.NavigateTo("/administration/ADGroup");
        }
    }

    private async Task AddEditADGroupProcedure()
    {
        if (IsAdmin == AdminMode.IsAdmin)
        {
            if (ADGroupId == Guid.Empty)
            { // создание
                var foundByName = await _adGroupRepository.GetByName(ActiveADGroupDTO.Name);
                if (foundByName != null)
                {
                    await _jsRuntime.ToastrError("Уже есть группа AD с наименованием " + foundByName.Name + " (ИД: " + foundByName.Id.ToString() + ")");
                    return;
                }

                ADGroupDTO addedDTO = await _adGroupRepository.Create(ActiveADGroupDTO);
                await _logEventRepository.ToLog<ADGroupDTO>(oldObject: null, newObject: addedDTO, "Добавление группы AD", "Группа AD: ", _authorizationRepository);
                await _jsRuntime.ToastrSuccess("Группа AD \"" + ActiveADGroupDTO.Name + "\" создана");

                _dialogService.Close(ActiveADGroupDTO);

            }
            else
            { // изменение группы AD

                var foundByName = await _adGroupRepository.GetByName(ActiveADGroupDTO.Name);
                if ((foundByName != null) && (foundByName.Id != ActiveADGroupDTO.Id))
                {
                    await _jsRuntime.ToastrError("Уже есть группа AD с наименованием " + foundByName.Name + " (ИД: " + foundByName.Id.ToString() + ")");
                    return;
                }
                ADGroupDTO oldADGroupDTO = await _adGroupRepository.Get(ActiveADGroupDTO.Id);
                ADGroupDTO newADGroupDTO = await _adGroupRepository.Update(ActiveADGroupDTO);
                await _logEventRepository.ToLog<ADGroupDTO>(oldObject: oldADGroupDTO, newObject: newADGroupDTO, "Изменение группы AD", "Группа AD: ", _authorizationRepository);
                await _jsRuntime.ToastrSuccess("Группа AD \"" + ActiveADGroupDTO.Name + " \" изменена");

                _dialogService.Close(ActiveADGroupDTO);
            }
        }

    }

    private async Task OnClickCancel() => _dialogService.Close(null);


}
