@page "/administration/User/AddEditUser/{UserId}"
@attribute [Authorize]

@using DictionaryManagement_Business.Repository.IRepository;
@using DictionaryManagement_Models.IntDBModels

@inject IJSRuntime _jsRuntime
@inject IUserRepository _userRepository
@inject DialogService _dialogService
@inject ILogEventRepository _logEventRepository

@if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
{
    <div class="row my-2">

        <div class="col-md-10">
            @if (IsLoading)
            {
                <Loading IsLoading="@IsLoading" />
            }
            else
            {
                <EditForm Model="ActiveUserDTO" OnValidSubmit="AddEditUserProcedure">
                    <DataAnnotationsValidator />

                    <RadzenRow Gap="1rem">
                        <RadzenColumn Size="12">
                            <RadzenStack>

                                @if (UserId != Guid.Empty)
                                {
                                    <RadzenFormField Text="ИД" Variant="@variant" Style="width: 100%; max-width: 900px;">
                                        <RadzenNumeric @bind-Value="@ActiveUserDTO.Id" ReadOnly="true" />
                                    </RadzenFormField>
                                }

                                <RadzenFormField Text="Логин" Variant="@variant" Style="width: 100%; max-width: 900px;">
                                    <RadzenTextBox @bind-Value="@ActiveUserDTO.Login" />
                                </RadzenFormField>
                                <ValidationMessage For="()=>ActiveUserDTO.Login"></ValidationMessage>


                                <RadzenFormField Text="ФИО" Variant="@variant" Style="width: 100%; max-width: 900px;">
                                    <RadzenTextBox @bind-Value="@ActiveUserDTO.UserName" />
                                </RadzenFormField>
                                <ValidationMessage For="()=>ActiveUserDTO.UserName"></ValidationMessage>

                                <RadzenFormField Text="Описание" Variant="@variant" Style="width: 100%; max-width: 900px;">
                                    <RadzenTextBox @bind-Value="@ActiveUserDTO.Description" />
                                </RadzenFormField>
                                <ValidationMessage For="()=>ActiveUserDTO.Description"></ValidationMessage>

                                <RadzenLabel Text="Синхронизировать роли с группами AD (автоматический пользователь):" Component="CheckBox4" Style="margin-left: 8px; margin-top: 8px;" />
                                <RadzenSelectBar @bind-Value="@ActiveUserDTO.IsSyncWithAD" TValue="bool" class="mb-4" Name="CheckBox4">
                                    <Items>
                                        <RadzenSelectBarItem Text="Да" Value="true" />
                                        <RadzenSelectBarItem Text="Нет" Value="false" />
                                    </Items>
                                </RadzenSelectBar>

                                <RadzenLabel Text="Сервисный пользователь:" Component="CheckBox5" Style="margin-left: 8px; margin-top: 8px;" />
                                <RadzenSelectBar @bind-Value="@ActiveUserDTO.IsServiceUser" TValue="bool" class="mb-4" Name="CheckBox5">
                                    <Items>
                                        <RadzenSelectBarItem Text="Да" Value="true" />
                                        <RadzenSelectBarItem Text="Нет" Value="false" />
                                    </Items>
                                </RadzenSelectBar>

                                <RadzenLabel Text="Время последней синхронизации ролей с группами AD:" Style="margin-left: 8px; margin-top: 8px;" />
                                <RadzenDatePicker TValue="DateTime" @bind-Value=@ActiveUserDTO.SyncWithADGroupsLastTime ShowSeconds="true" ShowTime="true" HourFormat="24" DateFormat="dd.MM.yyyy hh:mm:ss" />

                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>

                    <div class="form-group py-2">
                        <button title="Сохранить изменения" style="pointer-events: auto;" class="btn btn-primary" disabled=@(IsAdmin != AdminMode.IsAdmin)>@Title</button>
                        <NavLink @onclick="(() => OnClickCancel())" class="btn btn-secondary">Отмена</NavLink>
                    </div>
                </EditForm>
            }
        </div>
    </div>
}




@code {

    [Parameter]
    public Guid UserId { get; set; }


    Variant variant = Variant.Outlined;

    public bool IsLoading { get; set; } = true;
    public AdminMode IsAdmin { get; set; }

    public UserDTO ActiveUserDTO { get; set; }

    public IEnumerable<object> CheckedValues { get; set; } = new List<object>();

    private string Title { get; set; } = "Создать пользователя";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        IsLoading = true;
        await Task.Delay(10);
        await InvokeAsync(StateHasChanged);

        if (UserId == Guid.Empty)
        {
            ActiveUserDTO = new UserDTO();
            // ActiveUserDTO.SyncWithADGroupsLastTime = DateTime.MinValue.AddSeconds(1);
        }
        else
        {
            ActiveUserDTO = await _userRepository.Get(UserId);
            // if (ActiveUserDTO.SyncWithADGroupsLastTime == null)
            //     ActiveUserDTO.SyncWithADGroupsLastTime = DateTime.MinValue.AddSeconds(1);

            Title = "Изменить пользователя";
        }
        IsLoading = false;
        await Task.Delay(10);
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsAdmin = await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On);
            if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
            {
                IsLoading = true;
                await Task.Delay(10);
                await InvokeAsync(StateHasChanged);
                if (UserId == Guid.Empty)
                {
                    ActiveUserDTO = new UserDTO();
                    // ActiveUserDTO.SyncWithADGroupsLastTime = DateTime.MinValue.AddSeconds(1);
                }
                else
                {
                    ActiveUserDTO = await _userRepository.Get(UserId);
                    Title = "Изменить пользователя";
                    // if (ActiveUserDTO.SyncWithADGroupsLastTime == null)
                    //     ActiveUserDTO.SyncWithADGroupsLastTime = DateTime.MinValue.AddSeconds(1);
                }

                IsLoading = false;
                await Task.Delay(10);
                await InvokeAsync(StateHasChanged);
            }
            else
                _navigationManager.NavigateTo("/administration/User");
        }
    }

    private async Task AddEditUserProcedure()
    {
        if (IsAdmin == AdminMode.IsAdmin)
        {
            if (UserId == Guid.Empty)
            { // создание
                var foundByUserName = await _userRepository.GetByUserName(ActiveUserDTO.UserName);
                if (foundByUserName != null)
                {
                    await _jsRuntime.ToastrError("Уже есть пользователь с наименованием " + foundByUserName.UserName + " (ИД: " + foundByUserName.Id.ToString() + ")");
                    return;
                }

                var foundByLogin = await _userRepository.GetByLogin(ActiveUserDTO.Login);
                if (foundByLogin != null)
                {
                    await _jsRuntime.ToastrError("Уже есть пользователь с логином " + foundByLogin.Login + " (ИД: " + foundByLogin.Id.ToString() + ")");
                    return;
                }

                // if (ActiveUserDTO.SyncWithADGroupsLastTime == null)
                //     ActiveUserDTO.SyncWithADGroupsLastTime = DateTime.MinValue;

                UserDTO addedDTO = await _userRepository.Create(ActiveUserDTO);
                await _logEventRepository.ToLog<UserDTO>(oldObject: null, newObject: addedDTO, "Добавление пользователя", "Пользователь: ", _authorizationRepository);

                await _jsRuntime.ToastrSuccess("Пользователь \"" + ActiveUserDTO.UserName + " (" + ActiveUserDTO.Login + ")\" создан");

                _dialogService.Close(ActiveUserDTO);

            }
            else
            { // изменение пользователя

                var foundByUserName = await _userRepository.GetByUserName(ActiveUserDTO.UserName);
                if ((foundByUserName != null) && (foundByUserName.Id != ActiveUserDTO.Id))
                {
                    await _jsRuntime.ToastrError("Уже есть пользователь с ФИО " + foundByUserName.UserName + " (ИД: " + foundByUserName.Id.ToString() + ")");
                    return;
                }

                var foundByLogin = await _userRepository.GetByLogin(ActiveUserDTO.Login);
                if ((foundByLogin != null) && (foundByLogin.Id != ActiveUserDTO.Id))
                {
                    await _jsRuntime.ToastrError("Уже есть пользователь с логином " + foundByLogin.Login + " (ИД: " + foundByLogin.Id.ToString() + ")");
                    return;

                }

                UserDTO oldUserDTO = await _userRepository.Get(ActiveUserDTO.Id);
                UserDTO newUserDTO = await _userRepository.Update(ActiveUserDTO);
                await _logEventRepository.ToLog<UserDTO>(oldObject: oldUserDTO, newObject: newUserDTO, "Изменение пользователя", "Пользователь: ", _authorizationRepository);
                await _jsRuntime.ToastrSuccess("Пользователь \"" + ActiveUserDTO.UserName + " (" + ActiveUserDTO.Login + ") \" изменен");

                _dialogService.Close(ActiveUserDTO);
            }
        }

    }

    private async Task OnClickCancel() => _dialogService.Close(null);


}
