@page "/administration/ADGroup"
@attribute [Authorize]

@using DictionaryManagement_Business.Repository.IRepository;
@using DictionaryManagement_DataAccess.Data.IntDB;
@using DictionaryManagement_Models.IntDBModels
@using Microsoft.EntityFrameworkCore;
@using System.Text.Json;
@using static DictionaryManagement_Common.SD

@inject IJSRuntime _jsRuntime
@inject IADGroupRepository _adGroupRepository
@inject ISimpleExcelExportRepository _simpleExcelExportRepository
@inject ILogEventRepository _logEventRepository
@inject DialogService _dialogService

@if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
{
    <_Dialogs @ref="_dialogs"></_Dialogs>

    <div class="row">

        <div class="col-6">
            <h6 class="card-title text-primary"><a href="/administration">Администрирование</a> - <a href="/administration/ADGroup">Группы AD</a></h6>
        </div>


        @if (IsLoading != true)
        {
            <RadzenRow AlignItems="AlignItems.Start">
                <RadzenButton title="Добавить новую группу AD" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" class="mt-1 mb-1" Text="Добавить группу AD" Click="@(args => EditRow(null))" Disabled="@(IsAdmin!=AdminMode.IsAdmin)" />
                <i class="bi bi-grip-vertical mt-2 mb-1"></i>
                @if (@excelExportFlag)
                {
                    <RadzenButton Size="ButtonSize.Small" class="mt-1 mb-1" title="Простой экспорт в Excel с учётом применённых фильтров и упорядочивания" IsBusy=@excelExportFlag BusyText="Выполняется ..." />
                }
                else
                {
                    <RadzenButton Size="ButtonSize.Small" class="mt-1 mb-1" title="Простой экспорт в Excel с учётом применённых фильтров и упорядочивания" Text="Экспорт в Excel" Icon="grid_on" Click="@(args => ExcelExport())" IsBusy=@excelExportFlag BusyText="Выполняется ...">
                        <i class="bi bi-database"></i><i class="bi bi-arrow-right"></i><i class="bi bi-grid-3x3"></i>&nbsp;&nbsp;Выгрузить в Excel
                    </RadzenButton>
                }
                <RadzenButton ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Small" class="mt-1 mb-1" title="Загрузка данных из Excel в справочник Группы AD" Text="Импорт из Excel <--" Icon="grid_on" Click="@(args => ExcelImport())">
                    <i class="bi bi-database"></i><i class="bi bi-arrow-left"></i><i class="bi bi-grid-3x3"></i>&nbsp;&nbsp;Загрузить из Excel
                </RadzenButton>
            </RadzenRow>
            <RadzenDataGridApp @bind-Settings="@ADGroupGridSettings" SettingsName="ADGroupGridSettings" @ref="adGroupDTOGrid" AllowAlternatingRows="true"
                               AllowFiltering="true" AllowPaging="false" AllowSorting="true" AllowMultiColumnSorting="true" EditMode="DataGridEditMode.Single" GridLines="DataGridGridLines.Both"
                               Data="@adGroupDTOs" TItem="ADGroupDTO"
                               FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                               FilterMode="FilterMode.Advanced"
                               Density=Density.Compact
                               ShowPagingSummary="true"
                               AllowVirtualization="true"
                               Style="height:calc(100vh - 155px)"
                               @bind-Value=@selectedTableADGroup
                               RowDoubleClick="() => EditRow(selectedTableADGroup.FirstOrDefault())">
                <Columns>
                    <RadzenDataGridColumnApp TItem="ADGroupDTO" Property="ToStringId" Title="Ид группы" Width="40px"
                                             FilterProperty="ToStringId" FilterOperator="FilterOperator.Contains" SortProperty="ToStringId">
                        <Template Context="data1">
                            <div style="white-space:pre-wrap; font-size: 10px">
                                @data1.ToStringId
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="ADGroupDTO" Property="Name" Title="Наименование" Width="80px" FilterProperty="Name" SortProperty="Name" FilterOperator="FilterOperator.Contains">
                        <Template Context="data2">
                            <div style="white-space:pre-wrap; font-size: 12px">
                                <strong>
                                    @data2.Name
                                </strong>
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="ADGroupDTO" Property="Description" Title="Описание" Width="70px" FilterProperty="Description" SortProperty="Description" FilterOperator="FilterOperator.Contains">
                        <Template Context="data3">
                            <div style="white-space:pre-wrap; font-size: 10px">
                                @data3.Description
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="ADGroupDTO" Property="IsArchive" Title="Арх" Filterable="true" Width="18px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <RadzenCheckBox @bind-Value=data.IsArchive ReadOnly="true" TriState="false" TValue="bool" />
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp Title="Действия" TItem="ADGroupDTO" Context="adGroupDTO" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="16px">
                        <Template Context="adGroupDTO">
                            <RadzenButton title="Редактировать группу AD" Icon="edit" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(adGroupDTO))" @onclick:stopPropagation="true">
                            </RadzenButton>
                            @if (!adGroupDTO.IsArchive)
                            {
                                <RadzenButton title="Удалить группу AD в архив" Disabled="@(IsAdmin!=AdminMode.IsAdmin)" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(adGroupDTO))" @onclick:stopPropagation="true">
                                </RadzenButton>
                            }
                            else
                            {
                                <RadzenButton title="Восстановить группу AD из архива" Disabled="@(IsAdmin!=AdminMode.IsAdmin)" ButtonStyle="ButtonStyle.Info" Icon="restore_from_trash" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(adGroupDTO))" @onclick:stopPropagation="true">
                                </RadzenButton>
                            }
                        </Template>
                    </RadzenDataGridColumnApp>

                </Columns>
            </RadzenDataGridApp>

        }
        else
        {
            <Loading IsLoading="@IsLoading" />
        }

    </div>
}

@code {

    _Dialogs? _dialogs { get; set; }

    IEnumerable<ADGroupDTO>? adGroupDTOs;

    RadzenDataGrid<ADGroupDTO> adGroupDTOGrid;

    IList<ADGroupDTO>? selectedTableADGroup;

    public bool IsLoading { get; set; } = true;
    public AdminMode IsAdmin { get; set; }
    public bool excelExportFlag { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsAdmin = await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On);
            if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
            {
                IsLoading = true;
                await LoadStateAsync();
                await Task.Delay(10);
                await InvokeAsync(StateHasChanged);
                adGroupDTOs = await _adGroupRepository.GetAll(SD.SelectDictionaryScope.All);
                IsLoading = false;
                await Task.Delay(10);
                await InvokeAsync(StateHasChanged);
            }
            else
                _navigationManager.NavigateTo("/administration");
        }
    }

    DataGridSettings _adGroupGridSettings;
    public DataGridSettings ADGroupGridSettings
    {
        get
        {
            return _adGroupGridSettings;
        }
        set
        {
            if (_adGroupGridSettings != value)
            {
                _adGroupGridSettings = value;
                InvokeAsync(SaveStateAsync);
            }
        }
    }

    private async Task LoadStateAsync()
    {
        await Task.CompletedTask;

        if (!(await SD.CheckPageSettingsVersion("ADGroupGridSettings", _jsRuntime)))
            return;

        var result = await _jsRuntime.InvokeAsync<string>("window.localStorage.getItem", "ADGroupGridSettings");
        if (!string.IsNullOrEmpty(result))
        {
            _adGroupGridSettings = JsonSerializer.Deserialize<DataGridSettings>(result);
        }
    }

    private async Task SaveStateAsync()
    {
        await Task.CompletedTask;

        await _jsRuntime.InvokeVoidAsync("eval", $@"window.localStorage.setItem('ADGroupGridSettings', '{JsonSerializer.Serialize<DataGridSettings>(ADGroupGridSettings)}')");
        await SD.SetPageSettingsVersion("ADGroupGridSettings", _jsRuntime);
    }


    async Task EditRow(ADGroupDTO adGroupDTO)
    {

        await LoadStateAsync();
        await Task.Delay(10);
        await InvokeAsync(StateHasChanged);

        if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
        {
            IsLoading = true;

            ADGroupDTO dialogResult;

            if (adGroupDTO == null)
            {
                IsLoading = false;
                dialogResult = await _dialogService.OpenAsync<AddEditADGroup>("Создать группу AD", new Dictionary<string, object>() { { "ADGroupId", Guid.Empty } }, new DialogOptions() { Width = $"{700}px", Left = $"calc(50vw - 450px)" });
            }
            else
            {
                IsLoading = false;
                dialogResult = await _dialogService.OpenAsync<AddEditADGroup>("Изменить группу AD", new Dictionary<string, object>() { { "ADGroupId", adGroupDTO.Id } }, new DialogOptions() { Width = $"{700}px", Left = $"calc(50vw - 450px)" });
            }

            if (dialogResult != null)
            {
                if (adGroupDTO == null)
                {
                    IsLoading = true;
                    await LoadStateAsync();
                    await Task.Delay(10);
                    await InvokeAsync(StateHasChanged);
                    adGroupDTOs = await _adGroupRepository.GetAll(SD.SelectDictionaryScope.All);
                    IsLoading = false;
                    await Task.Delay(10);
                    await InvokeAsync(StateHasChanged);
                    IsLoading = false;
                }
                else
                {
                    adGroupDTO.Name = dialogResult.Name;
                    adGroupDTO.Description = dialogResult.Description;
                    await adGroupDTOGrid.UpdateRow(adGroupDTO);
                }
            }
        }
    }

    async Task DeleteRow(ADGroupDTO adGroupDTO)
    {
        await LoadStateAsync();
        await Task.Delay(10);
        await InvokeAsync(StateHasChanged);

        if (IsAdmin == AdminMode.IsAdmin)
        {
            if (_dialogs != null)
            {
                if (adGroupDTO.IsArchive != true)
                {
                    bool selectionResult = await _dialogs.ShowYesOrNoDialogBox("Удаление группы AD", "Удалить группу AD \"" + adGroupDTO.Name
                         + ")\" в архив ?", "Удалить", "Отмена");
                    if (selectionResult == false)
                    {
                        return;
                    }
                }
                else
                {
                    bool selectionResult = await _dialogs.ShowYesOrNoDialogBox("Восстановление группы AD", "Восстановить группу AD \"" + adGroupDTO.Name
                        + "\" из архива ?", "Восстановить", "Отмена");
                    if (selectionResult == false)
                    {
                        return;
                    }
                }
            }

            ADGroupDTO oldADGroupDTO = await _adGroupRepository.Get(adGroupDTO.Id);

            if (adGroupDTO.IsArchive)
            {
                await _adGroupRepository.Update(adGroupDTO, SD.UpdateMode.RestoreFromArchive);
                adGroupDTO.IsArchive = false;
                await _logEventRepository.ToLog<ADGroupDTO>(oldADGroupDTO, adGroupDTO, "Восстановление из архива группы AD", "Группа AD: ", _authorizationRepository);
                await _jsRuntime.ToastrSuccess("Группа AD \"" + adGroupDTO.Name + ")\" восстановлена из архива");
            }
            else
            {
                await _adGroupRepository.Update(adGroupDTO, SD.UpdateMode.MoveToArchive);
                adGroupDTO.IsArchive = true;
                await _logEventRepository.ToLog<ADGroupDTO>(oldADGroupDTO, adGroupDTO, "Удаление в архив группы AD", "Группа AD: ", _authorizationRepository);
                await _jsRuntime.ToastrSuccess("Группа AD \"" + adGroupDTO.Name + "\" удалена в архив");
            }
            await adGroupDTOGrid.UpdateRow(adGroupDTO);
        }
    }

    async Task ExcelExport()
    {
        excelExportFlag = true;
        await LoadStateAsync();
        await Task.Delay(10);
        await InvokeAsync(StateHasChanged);
        if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
        {
            string userLogin = await _authorizationRepository.GetCurrentUser(SD.MessageBoxMode.Off, SD.LoginReturnMode.LoginOnly);
            string filename = "ADGroups_Export_" + userLogin.Replace("\\", "_") + "_" + DateTime.Now.ToString().Replace(":", "_") + ".xlsx";
            await _simpleExcelExportRepository.GenerateExcelADGroup(filename, (IEnumerable<ADGroupDTO>)adGroupDTOGrid.View);
            await _jsRuntime.InvokeVoidAsync("open", "DownloadFileController/SimpleExcelExport/" + filename, "_blank");
        }
        excelExportFlag = false;
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);
    }

    async Task ExcelImport()
    {
        IsLoading = true;
        await LoadStateAsync();
        await Task.Delay(10);
        await InvokeAsync(StateHasChanged);
        if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
        {
            SapMaterialDTO dialogResult = null;
            IsLoading = false;
            dialogResult = await _dialogService.OpenAsync<LoadFromExcel>("Загрузка данных из Excel (Тэги СИР)", new Dictionary
                    <string, object>
                    () { { "LoadFromExcelReportTemplateTypeNameSettingName", SD.ADGroupsLoadFromExcelReportTemplateTypeNameSettingName }
                    ,{"DataList", (IEnumerable<ADGroupDTO>)adGroupDTOGrid.View }}
                    , new DialogOptions() { Width = $"{60}rem", Left = "calc(50vw - 40rem)" });
            IsLoading = false;
            await this.OnAfterRenderAsync(true);
        }
        IsLoading = false;
    }
}