@page "/administration/Role"
@attribute [Authorize]

@using DictionaryManagement_Business.Repository.IRepository;
@using DictionaryManagement_DataAccess.Data.IntDB;
@using DictionaryManagement_Models.IntDBModels
@using DictionaryManagement_Server.Pages.Reports;
@using Microsoft.EntityFrameworkCore;
@using System.Text.Json;




@inject IJSRuntime _jsRuntime
@inject IRoleVMRepository _roleVMRepository
@inject IUserToRoleRepository _userToRoleRepository
@inject IReportTemplateTypeToRoleRepository _reportTemplateTypeToRoleRepository
@inject IRoleToADGroupRepository _roleToADGroupRepository
@inject IRoleToDepartmentRepository _roleToToDepartmentRepository
@inject ISimpleExcelExportRepository _simpleExcelExportRepository
@inject ILogEventRepository _logEventRepository
@inject IRoleRepository _roleRepository

@inject DialogService _dialogService


@if (IsAdmin == true)
{
    <_Dialogs @ref="_dialogs"></_Dialogs>

    <div class="row">

        <div class="col-6">
            <h6 class="card-title text-primary"><a href="/administration">Администрирование</a> - <a href="/administration/Role">Роли</a></h6>
        </div>


        @if (IsLoading != true)
        {
            <RadzenRow AlignItems="AlignItems.Start">
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" class="mt-2 mb-4" Text="Добавить новую роль" Click="@(args => EditRow(null))" />
                <RadzenButton class="mt-2 mb-4" title="Простой экспорт в Excel с учётом применённых фильтров и упорядочивания" Text="Экспорт в Excel" Icon="grid_on" Click="@(args => ExcelExport())" IsBusy=@excelExportFlag BusyText="Выполняется ..." />
            </RadzenRow>

            <RadzenDataGridApp @bind-Settings="@RoleGridSettings" SettingsName="RoleGridSettings" @ref="roleVMDTOGrid" AllowAlternatingRows="true"
                               AllowFiltering="true" AllowPaging="false" AllowSorting="true" AllowMultiColumnSorting="true" EditMode="DataGridEditMode.Single" GridLines="DataGridGridLines.Both"
                               Data="@roleVMDTOs" TItem="RoleVMDTO"
                               FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                               FilterMode="FilterMode.Advanced"
                               AllowColumnResize="false"
                               Density=Density.Compact
                               ShowPagingSummary="true"
                               EmptyText="Нет записей для отображения"
                               AllowVirtualization="true"
                               Style="height:calc(100vh - 170px)">
                <Columns>
                    <RadzenDataGridColumnApp TItem="RoleVMDTO" Property="ToStringId" Title="Ид роли" Width="10px"
                                             FilterProperty="ToStringId" FilterOperator="FilterOperator.Contains" SortProperty="ToStringId">
                        <Template Context="data1">
                            <div style="white-space:pre-wrap; font-size: 10px">
                                @data1.ToStringId
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="RoleVMDTO" Property="Name" Title="Наименование" Width="33px" FilterProperty="Name" SortProperty="Name" FilterOperator="FilterOperator.Contains">
                        <Template Context="data2">
                            <div style="white-space:pre-wrap; font-size: 12px">
                                <strong>
                                    @data2.Name
                                </strong>
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="RoleVMDTO" Property="Description" Title="Описание" Width="33px" FilterProperty="Description" SortProperty="Description" FilterOperator="FilterOperator.Contains">
                        <Template Context="data3">
                            <div style="white-space:pre-wrap; font-size: 10px">
                                @data3.Description
                            </div>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="RoleVMDTO" Property="UserToRoleDTOs" FilterProperty="UsersLoginAndNameString" Title="Пользователи роли" Sortable="false" Filterable="true" Width="42px" FilterOperator="FilterOperator.Contains">

                        <Template Context="data">
                            <div class="row" style="width: 100%; padding: 0; overflow: hidden;justify-content: center; font-size: 10px">
                                <div class="text-center" style="width: 100%;font-size: 10px">
                                    <button title=@($"Добавить пользователя к роли {data.Name}") class="btn btn-link" style="width: 100%; padding: 0; overflow: hidden; font-size:10px;align-items: center; justify-content: center;" @onclick="()=>LinkUserToRole(data)"> + Добавить пользователя + </button>
                                </div>
                            </div>

                            <RadzenDataList WrapItems="true" Density=Density.Compact AllowPaging="true" Data="data.UserToRoleDTOs" PagerHorizontalAlign="HorizontalAlign.Left" TItem="UserToRoleDTO" PageSize="4" ShowPagingSummary="false">
                                <Template Context="user">
                                    <RadzenCard Style="white-space:pre-wrap; width: 100%; padding: 1px 1px 1px 1px; overflow: hidden;font-size: 10px">
                                        <div class="row g-2" style="width: 100%; padding: 0">
                                            <div class="col-md-11 col-lg-0" style="width: 82%; font-size: 10px">
                                                <b><a href="" title=@($"Редактировать пользователя {user.UserDTOFK?.UserName}") @onclick="@(()=>EditUser(data, user.UserDTOFK.Id))" @onclick:preventDefault>@user.UserDTOFK?.UserName (@(@user.UserDTOFK?.Login))</a></b>
                                            </div>
                                            @if (@user.UserDTOFK?.IsSyncWithAD != true)
                                            {
                                                <div class="col-md-1 col-lg-0" style="width: 10%; font-size: 10px;">
                                                    <b><a href="" title=@($"Отвязать пользователя {user.UserDTOFK?.UserName} от роли {data.Name}") @onclick="@(()=>DeleteUser(data, user.UserDTOFK))" style="text-decoration: none !important; color:#DC143C;  text-align: right !important" @onclick:preventDefault>X</a></b>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-1 col-lg-0" style="width: 10%; font-size: 10px;">
                                                    <b><a href="" title=@($"Принадлежность пользователя {user.UserDTOFK?.UserName} к роли синхронизируется с AD (пользователь \"автоматический\")") style="text-decoration: none !important; color:#ebc0a7;  text-align: right !important" @onclick:preventDefault>Авто</a></b>
                                                </div>

                                            }
                                        </div>
                                    </RadzenCard>
                                </Template>
                            </RadzenDataList>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="RoleVMDTO" Property="ReportTemplateTypeTоRoleDTOs" FilterProperty="ReportTemplateTypeString" Title="Шаблоны отчётов" Sortable="false" Filterable="true" Width="44px" FilterOperator="FilterOperator.Contains">

                        <Template Context="data">
                            <div class="row" style="width: 100%; padding: 0; overflow: hidden;justify-content: center; font-size: 10px">
                                <div class="text-center" style="width: 100%; font-size: 10px">
                                    <button title=@($"Добавить шаблон отчёта к роли {data.Name}") class="btn btn-link" style="width: 100%; padding: 0; overflow: hidden; font-size:10px;align-items: center; justify-content: center;" @onclick="()=>LinkReportTemplateTypeToRole(data)"> + Добавить шаблон отчёта + </button>
                                </div>
                            </div>

                            <RadzenDataList WrapItems="true" Density=Density.Compact AllowPaging="true" Data="data.ReportTemplateTypeTоRoleDTOs" PagerHorizontalAlign="HorizontalAlign.Left" TItem="ReportTemplateTypeTоRoleDTO" PageSize="4" ShowPagingSummary="false">
                                <Template Context="reportTemplate">
                                    <RadzenCard Style="white-space:pre-wrap; width: 100%; padding: 1px 1px 1px 1px; overflow: hidden; font-size: 10px">
                                        <div class="row" style="width: 100%; padding: 0">
                                            <div class="col-md-12 col-lg-0" style="width: 50%; font-size: 10px">
                                                <b><a href="" title=@($"Редактировать тип шаблона отчёта {reportTemplate.ReportTemplateTypeDTOFK?.Name}") @onclick="@(()=>EditReportTemplateType(data, reportTemplate.ReportTemplateTypeDTOFK.Id))" @onclick:preventDefault>@reportTemplate.ReportTemplateTypeDTOFK?.Name</a></b>
                                            </div>
                                            <div class="col-md-1 col-lg-0" style="width: 48%; font-size: 10px;">
                                                @if (@reportTemplate.CanDownload == true)
                                                {
                                                    <b><a href="" title=@($"Есть право на чтение") style="text-decoration: none !important; color:#00FF00; font-size: 9px !important;" @onclick="@(()=>ChangeReadWriteRights(data, reportTemplate.Id, "READ"))" @onclick:preventDefault>Чтение </a></b>
                                                }
                                                else
                                                {
                                                    <b><a href="" title=@($"Нет права на чтение") style="text-decoration: none !important; color:#CACFD2 ; font-size: 9px !important;" @onclick="@(()=>ChangeReadWriteRights(data, reportTemplate.Id, "READ"))" @onclick:preventDefault>Чтение </a></b>
                                                }
                                                @if (@reportTemplate.CanUpload == true)
                                                {
                                                    <b><a href="" title=@($"Есть право на запись") style="text-decoration: none !important; color:#00FF00; font-size: 9px !important;" @onclick="@(()=>ChangeReadWriteRights(data, reportTemplate.Id, "WRITE"))" @onclick:preventDefault>Запись  </a></b>
                                                }
                                                else
                                                {
                                                    <b><a href="" title=@($"Нет права на запись") style="text-decoration: none !important; color:#CACFD2; font-size: 9px !important;" @onclick="@(()=>ChangeReadWriteRights(data, reportTemplate.Id, "WRITE"))" @onclick:preventDefault>Запись  </a></b>
                                                }

                                                <b><a href="" title=@($"Отвязать тип шаблона отчёта {reportTemplate.ReportTemplateTypeDTOFK?.Name} от роли {data.Name}") @onclick="@(()=>DeleteReportTemplateType(data, reportTemplate.ReportTemplateTypeDTOFK))" style="text-decoration: none !important; color:#DC143C;" @onclick:preventDefault>X</a></b>
                                            </div>
                                        </div>
                                    </RadzenCard>
                                </Template>
                            </RadzenDataList>
                        </Template>
                    </RadzenDataGridColumnApp>



                    <RadzenDataGridColumnApp TItem="RoleVMDTO" Property="RoleToADGroupDTOs" FilterProperty="RoleToADGroupString" Title="Группы AD" Sortable="false" Filterable="true" Width="42px" FilterOperator="FilterOperator.Contains">

                        <Template Context="data">
                            <div class="row" style="width: 100%; padding: 0; overflow: hidden;justify-content: center; font-size: 10px">
                                <div class="text-center" style="width: 100%; font-size: 10px">
                                    <button title=@($"Добавить группу AD к роли {data.Name}") class="btn btn-link" style="width: 100%; padding: 0; overflow: hidden; font-size:10px;align-items: center; justify-content: center;" @onclick="()=>LinkADGroupToRole(data)"> + Добавить группу AD + </button>
                                </div>
                            </div>

                            <RadzenDataList WrapItems="true" Density=Density.Compact AllowPaging="true" Data="data.RoleToADGroupDTOs" PagerHorizontalAlign="HorizontalAlign.Left" TItem="RoleToADGroupDTO" PageSize="4" ShowPagingSummary="false">
                                <Template Context="adGroup">
                                    <RadzenCard Style="white-space:pre-wrap; width: 100%; padding: 1px 1px 1px 1px; overflow: hidden; font-size: 10px">
                                        <div class="row" style="width: 100%; padding: 0">
                                            <div class="col-md-12 col-lg-0" style="width: 82%; font-size: 10px">
                                                <b><a href="" title=@($"Редактировать группу AD {@adGroup.ADGroupDTOFK?.Name}") @onclick="@(()=>EditADGroup(data, adGroup.ADGroupDTOFK.Id))" @onclick:preventDefault>@adGroup.ADGroupDTOFK?.Name</a></b>
                                            </div>
                                            <div class="col-md-1 col-lg-0" style="width: 10%; font-size: 10px;">
                                                <b><a href="" title=@($"Отвязать группу AD {adGroup.ADGroupDTOFK?.Name} от роли {data.Name}") @onclick="@(()=>DeleteADGroup(data, adGroup.ADGroupDTOFK))" style="text-decoration: none !important; color:#DC143C;" @onclick:preventDefault>X</a></b>
                                            </div>
                                        </div>
                                    </RadzenCard>
                                </Template>
                            </RadzenDataList>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="RoleVMDTO" Property="RoleToDepartmentDTOs" FilterProperty="RoleToDepartmentString" Title="Производства" Sortable="false" Filterable="true" Width="42px" FilterOperator="FilterOperator.Contains">
                        <Template Context="data">
                            <div class="row" style="width: 100%; padding: 0; overflow: hidden;justify-content: center; font-size: 10px">
                                <div class="text-center" style="width: 100%; font-size: 10px">
                                    <button title=@($"Добавить производства к роли {data.Name}") class="btn btn-link" style="width: 100%; padding: 0; overflow: hidden; font-size:10px;align-items: center; justify-content: center;" @onclick="()=>LinkDepartmentToRole(data)"> + Добавить производства + </button>
                                </div>
                            </div>

                            <RadzenDataList WrapItems="true" Density=Density.Compact AllowPaging="true" Data="data.RoleToDepartmentDTOs" PagerHorizontalAlign="HorizontalAlign.Left" TItem="RoleToDepartmentDTO" PageSize="4" ShowPagingSummary="false">
                                <Template Context="department">
                                    <RadzenCard Style="white-space:pre-wrap; width: 100%; padding: 1px 1px 1px 1px; overflow: hidden; font-size: 10px">
                                        <div class="row" style="width: 100%; padding: 0">
                                            <div class="col-md-12 col-lg-0" style="width: 82%; font-size: 10px">
                                                <b><a href="" title=@($"Редактировать производство {@department.DepartmentDTOFK?.ShortName}") @onclick="@(()=>EditDepartment(data, department.DepartmentDTOFK.Id))" @onclick:preventDefault>@department.DepartmentDTOFK?.ShortName</a></b>
                                            </div>
                                            <div class="col-md-1 col-lg-0" style="width: 10%; font-size: 10px;">
                                                <b><a href="" title=@($"Отвязать производство {department.DepartmentDTOFK?.ShortName} от роли {data.Name}") @onclick="@(()=>DeleteDepartment(data, department.DepartmentDTOFK))" style="text-decoration: none !important; color:#DC143C;" @onclick:preventDefault>X</a></b>
                                            </div>
                                        </div>
                                    </RadzenCard>
                                </Template>
                            </RadzenDataList>
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp TItem="RoleVMDTO" Property="IsArchive" Title="Арх" Filterable="true" Width="8px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <RadzenCheckBox @bind-Value=data.IsArchive ReadOnly="true" TriState="false" TValue="bool" />
                        </Template>
                    </RadzenDataGridColumnApp>

                    <RadzenDataGridColumnApp Title="Действия" TItem="RoleVMDTO" Context="roleVMDTO" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="20px">
                        <Template Context="roleVMDTO">
                            <RadzenButton title="Редактировать роль" Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(roleVMDTO))" @onclick:stopPropagation="true">
                            </RadzenButton>
                            @if (!roleVMDTO.IsArchive)
                            {
                                <RadzenButton title="Удалить роль в архив" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(roleVMDTO))" @onclick:stopPropagation="true">
                                </RadzenButton>
                            }
                            else
                            {
                                <RadzenButton title="Восстановить роль из архива" ButtonStyle="ButtonStyle.Info" Icon="restore_from_trash" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(roleVMDTO))" @onclick:stopPropagation="true">
                                </RadzenButton>
                            }
                        </Template>
                    </RadzenDataGridColumnApp>


                </Columns>
            </RadzenDataGridApp>
            @*             <button title=@($"Тест производства") class="btn btn-link" style="width: 100%; padding: 0; overflow: hidden; font-size:10px;align-items: center; justify-content: center;" @onclick="()=>LinkDepartmentToRole(testGuid)"> + Тест производства + </button> *@

        }
        else
        {
            if (IsLoading)
            {
                //отображение gif загрузки
                <div class="text-center">
                    <img src="/images/loading.gif">
                </div>

            }
        }

    </div>
}

@code {

    _Dialogs? _dialogs { get; set; }

    IEnumerable<RoleVMDTO>? roleVMDTOs;

    RadzenDataGrid<RoleVMDTO> roleVMDTOGrid;

    Guid testGuid = new Guid("4315D633-D536-46F3-A857-07D051009438");

    public string? usersFilter = "";

    public bool IsLoading { get; set; }
    public bool IsAdmin { get; set; }
    public bool excelExportFlag { get; set; } = false;
    Guid userDictionaryManagementGuid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsAdmin = true;
            if (firstRender)
            {
                IsLoading = true;
                //StateHasChanged();
                await LoadStateAsync();
                StateHasChanged();
                roleVMDTOs = await _roleVMRepository.GetAll(SD.SelectDictionaryScope.All);
                userDictionaryManagementGuid = (await _authorizationRepository.GetCurrentUserDTO()).Id;
                IsLoading = false;
                StateHasChanged();
            }
        }
        else
            _navigationManager.NavigateTo("/administration");

    }


    DataGridSettings _roleGridSettings;
    public DataGridSettings RoleGridSettings
    {
        get
        {
            return _roleGridSettings;
        }
        set
        {
            if (_roleGridSettings != value)
            {
                _roleGridSettings = value;
                InvokeAsync(SaveStateAsync);
            }
        }
    }

    private async Task LoadStateAsync()
    {
        await Task.CompletedTask;

        if (!(await SD.CheckPageSettingsVersion("RoleGridSettings", _jsRuntime)))
            return;

        var result = await _jsRuntime.InvokeAsync<string>("window.localStorage.getItem", "RoleGridSettings");
        if (!string.IsNullOrEmpty(result))
        {
            _roleGridSettings = JsonSerializer.Deserialize<DataGridSettings>(result);
        }
    }

    private async Task SaveStateAsync()
    {
        await Task.CompletedTask;
        await _jsRuntime.InvokeVoidAsync("eval", $@"window.localStorage.setItem('RoleGridSettings', '{JsonSerializer.Serialize<DataGridSettings>(RoleGridSettings)}')");
        await SD.SetPageSettingsVersion("RoleGridSettings", _jsRuntime);
    }



    async Task EditRow(RoleVMDTO roleVMDTO)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsLoading = true;

            RoleDTO dialogResult;

            if (roleVMDTO == null)
            {
                IsLoading = false;
                dialogResult = await _dialogService.OpenAsync<AddEditRole>("Создать роль СИР", new Dictionary<string, object>() { { "RoleId", Guid.Empty } }, new DialogOptions() { Width = $"{700}px" });
            }
            else
            {
                IsLoading = false;
                dialogResult = await _dialogService.OpenAsync<AddEditRole>("Изменить роль СИР", new Dictionary<string, object>() { { "RoleId", roleVMDTO.Id } }, new DialogOptions() { Width = $"{700}px" });
            }


            if (dialogResult != null)
            {
                if (roleVMDTO == null)
                {
                    IsLoading = true;
                    await LoadStateAsync();
                    StateHasChanged();
                    roleVMDTOs = await _roleVMRepository.GetAll(SD.SelectDictionaryScope.All);
                    IsLoading = false;
                    StateHasChanged();
                    IsLoading = false;
                }
                else
                {
                    roleVMDTO.Name = dialogResult.Name;
                    roleVMDTO.Description = dialogResult.Description;

                    await roleVMDTOGrid.UpdateRow(roleVMDTO);
                }
            }
        }

    }


    async Task DeleteRow(RoleVMDTO roleVMDTO)
    {

        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            if (_dialogs != null)
            {
                if (roleVMDTO.IsArchive != true)
                {
                    bool selectionResult = await _dialogs.ShowYesOrNoDialogBox("Удаление роли СИР", "Удалить роль \"" + roleVMDTO.Name + "\" в архив ?", "Удалить", "Отмена");
                    if (selectionResult == false)
                    {
                        // await _jsRuntime.ToastrSuccess("Отмена удаления");
                        return;
                    }
                }
                else
                {
                    bool selectionResult = await _dialogs.ShowYesOrNoDialogBox("Восстановление роли СИР", "Восстановить роль СИР \"" + roleVMDTO.Name + "\" из архива ?", "Восстановить", "Отмена");
                    if (selectionResult == false)
                    {
                        // await _jsRuntime.ToastrSuccess("Отмена восстановления");
                        return;
                    }
                }
            }

            RoleDTO oldRoleDTO = await _roleRepository.GetById(roleVMDTO.Id);

            if (roleVMDTO.IsArchive)
            {
                await _roleVMRepository.Update(roleVMDTO, SD.UpdateMode.RestoreFromArchive);
                RoleDTO newRoleDTO = await _roleRepository.GetById(roleVMDTO.Id);
                roleVMDTO.IsArchive = false;
                await _logEventRepository.ToLog<RoleDTO>(oldRoleDTO, newRoleDTO, "Восстановление из архива роли", "Роль: ", _authorizationRepository);
                await _jsRuntime.ToastrSuccess("Роль СИР \"" + roleVMDTO.Name + "\" восстановлена из архива");
            }
            else
            {
                await _roleVMRepository.Update(roleVMDTO, SD.UpdateMode.MoveToArchive);
                RoleDTO newRoleDTO = await _roleRepository.GetById(roleVMDTO.Id);
                roleVMDTO.IsArchive = true;
                await _logEventRepository.ToLog<RoleDTO>(oldRoleDTO, newRoleDTO, "Удаление в архив роли", "Роль: ", _authorizationRepository);
                await _jsRuntime.ToastrSuccess("Роль СИР \"" + roleVMDTO.Name + "\" удалена в архив");
            }
            await roleVMDTOGrid.UpdateRow(roleVMDTO);
        }
    }

    async Task LinkUserToRole(RoleVMDTO roleVMDTO)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsLoading = true;

            RoleVMDTO dialogResult = null;

            if (roleVMDTO == null)
            {
                await _jsRuntime.ToastrError("Пустой объект роли для привязки пользователей");
                IsLoading = false;
                return;
            }
            else
            {
                IsLoading = false;
                dialogResult = await _dialogService.OpenAsync<LinkUsersToRole>("Привязка пользователей к роли " + roleVMDTO.Name, new Dictionary<string, object>() { { "RoleId", roleVMDTO.Id } }, new DialogOptions() { Width = $"{1100}px", Left = $"{200}px" });

                roleVMDTO.UserToRoleDTOs = await _roleVMRepository.GetUsersLinkedToRoleByRoleId(roleVMDTO.Id);
                await roleVMDTOGrid.UpdateRow(roleVMDTO);
            }

            IsLoading = false;
        }
    }


    async Task LinkDepartmentToRole(RoleVMDTO roleVMDTO)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsLoading = true;
            RoleVMDTO dialogResult = null;

            if (roleVMDTO == null)
            {
                await _jsRuntime.ToastrError("Пустой объект роли для привязки производств");
                IsLoading = false;
                return;
            }
            else
            {
                IsLoading = false;
                dialogResult = await _dialogService.OpenAsync<LinkDepartmentToRole>("Привязка производств к роли " + roleVMDTO.Name, new Dictionary<string, object>() { { "RoleId", roleVMDTO.Id } }, new DialogOptions() { Width = $"{1100}px", Left = $"{200}px" });

                roleVMDTO.RoleToDepartmentDTOs = await _roleVMRepository.GetDepartmentsLinkedToRoleByRoleId(roleVMDTO.Id);
                await roleVMDTOGrid.UpdateRow(roleVMDTO);
            }
            IsLoading = false;
        }
    }


    async Task DeleteUser(RoleVMDTO roleVMDTO, UserDTO userDTO)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            if (_dialogs != null)
            {
                bool selectionResult = await _dialogs.ShowYesOrNoDialogBox("Удаление пользователя из роли", "Удалить пользователя \"" + userDTO.UserName +
                        " (" + userDTO.Login + ")" + "\" из роли \"" + roleVMDTO.Name + "\" ?", "Удалить из роли", "Отмена");
                if (selectionResult == false)
                {
                    // await _jsRuntime.ToastrSuccess("Отмена действия");
                    return;
                }
            }
        }

        var userToRoleDTO = await _userToRoleRepository.Get(userDTO.Id, roleVMDTO.Id);

        if (userToRoleDTO != null)
        {
            await _roleVMRepository.DeleteUserToRole(userToRoleDTO.Id);
            await _logEventRepository.AddRecord("Удаление связки пользователя с ролью", userDictionaryManagementGuid,
                roleVMDTO.Name + " --> " + userDTO.ToString(), "<Пусто>", false,
                "Роль: " + roleVMDTO.Name + " Пользователь: " + userDTO.ToString());

            await _jsRuntime.ToastrSuccess("Пользователь \"" + userDTO.UserName + " (" + userDTO.Login + ")" + "\" удалён из роли \"" + roleVMDTO.Name + "\"");
        }
        else
        {
            await _jsRuntime.ToastrError("Пользователь \"" + userDTO.UserName + " (" + userDTO.Login + ")" + "\" не найден в роли \"" + roleVMDTO.Name + "\"!");
        }

        List<UserToRoleDTO> newUserToRoleDTOs = roleVMDTO.UserToRoleDTOs.ToList();
        var modifiedNewUserToRoleDTOs = newUserToRoleDTOs.Where(u => !(u.UserId == userDTO.Id && u.RoleId == roleVMDTO.Id));
        roleVMDTO.UserToRoleDTOs = modifiedNewUserToRoleDTOs;

        await roleVMDTOGrid.UpdateRow(roleVMDTO);

    }

    async Task LinkReportTemplateTypeToRole(RoleVMDTO roleVMDTO)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsLoading = true;

            RoleVMDTO dialogResult = null;

            if (roleVMDTO == null)
            {
                await _jsRuntime.ToastrError("Пустой объект роли для привязки типов шаблонов отчётов");
                IsLoading = false;
                return;
            }
            else
            {
                IsLoading = false;
                dialogResult = await _dialogService.OpenAsync<LinkReportTemplateTypeToRole>("Привязка типов шаблонов отчётов к роли " + roleVMDTO.Name, new Dictionary<string, object>() { { "RoleId", roleVMDTO.Id } }, new DialogOptions() { Width = $"{1200}px", Left = $"{100}px" });

                roleVMDTO.ReportTemplateTypeTоRoleDTOs = await _roleVMRepository.GetReportTemplateTypesLinkedToRoleByRoleId(roleVMDTO.Id);
                await roleVMDTOGrid.UpdateRow(roleVMDTO);
            }

            IsLoading = false;
        }
    }


    async Task DeleteReportTemplateType(RoleVMDTO roleVMDTO, ReportTemplateTypeDTO reportTemplateTypeDTO)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            if (_dialogs != null)
            {
                bool selectionResult = await _dialogs.ShowYesOrNoDialogBox("Удаление типа шаблона отчёта из роли", "Удалить тип шаблона отчёта \"" + reportTemplateTypeDTO.Name +
                        "\" из роли \"" + roleVMDTO.Name + "\" ?", "Удалить из роли", "Отмена");
                if (selectionResult == false)
                {
                    // await _jsRuntime.ToastrSuccess("Отмена действия");
                    return;
                }
            }
        }

        var reportTemplateTypeTоRoleDTO = await _reportTemplateTypeToRoleRepository.Get(reportTemplateTypeDTO.Id, roleVMDTO.Id);

        if (reportTemplateTypeTоRoleDTO != null)
        {
            await _roleVMRepository.DeleteReportTemplateTypeToRole(reportTemplateTypeTоRoleDTO.Id);
            await _logEventRepository.AddRecord("Удаление связки типа шаблона отчёта с ролью", userDictionaryManagementGuid,
                    roleVMDTO.Name + " --> " + reportTemplateTypeTоRoleDTO.ToString(), "<Пусто>", false,
                    "Роль: " + roleVMDTO.Name + " Тип шаблона отчёта: " + reportTemplateTypeTоRoleDTO.ToString());

            await _jsRuntime.ToastrSuccess("Тип шаблона отчёта \"" + reportTemplateTypeDTO.Name + "\" удалён из роли \"" + roleVMDTO.Name + "\"");
        }
        else
        {
            await _jsRuntime.ToastrError("Тип шаблона отчёта \"" + reportTemplateTypeDTO.Name + "\" не найден в роли \"" + roleVMDTO.Name + "\"!");
        }

        List<ReportTemplateTypeTоRoleDTO> newReportTemplateTypeToRoleDTOs = roleVMDTO.ReportTemplateTypeTоRoleDTOs.ToList();
        var modifiedNewReportTemplateTypeTоRoleDTOs = newReportTemplateTypeToRoleDTOs.Where(u => !(u.ReportTemplateTypeId == reportTemplateTypeDTO.Id && u.RoleId == roleVMDTO.Id));
        roleVMDTO.ReportTemplateTypeTоRoleDTOs = modifiedNewReportTemplateTypeTоRoleDTOs;

        await roleVMDTOGrid.UpdateRow(roleVMDTO);

    }

    async Task LinkADGroupToRole(RoleVMDTO roleVMDTO)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsLoading = true;

            RoleVMDTO dialogResult = null;

            if (roleVMDTO == null)
            {
                await _jsRuntime.ToastrError("Пустой объект роли для привязки групп AD");
                IsLoading = false;
                return;
            }
            else
            {
                IsLoading = false;
                dialogResult = await _dialogService.OpenAsync<LinkADGroupToRole>("Привязка групп AD к роли " + roleVMDTO.Name, new Dictionary<string, object>() { { "RoleId", roleVMDTO.Id } }, new DialogOptions() { Width = $"{1500}px", Left = $"{100}px" });

                roleVMDTO.RoleToADGroupDTOs = await _roleVMRepository.GetADGroupsLinkedToRoleByRoleId(roleVMDTO.Id);
                await roleVMDTOGrid.UpdateRow(roleVMDTO);
            }
            IsLoading = false;
        }
    }

    async Task DeleteADGroup(RoleVMDTO roleVMDTO, ADGroupDTO adGroupDTO)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            if (_dialogs != null)
            {
                bool selectionResult = await _dialogs.ShowYesOrNoDialogBox("Удаление группы AD", "Удалить группу AD \"" + adGroupDTO.Name +
                        "\" из роли \"" + roleVMDTO.Name + "\" ?", "Удалить из роли", "Отмена");
                if (selectionResult == false)
                {
                    // await _jsRuntime.ToastrSuccess("Отмена действия");
                    return;
                }
            }
        }

        var roleToADGroupDTO = await _roleToADGroupRepository.Get(adGroupDTO.Id, roleVMDTO.Id);

        if (roleToADGroupDTO != null)
        {
            await _roleVMRepository.DeleteRoleToADGroup(roleToADGroupDTO.Id);
            await _logEventRepository.AddRecord("Удаление связки группы AD с ролью", userDictionaryManagementGuid,
                roleVMDTO.Name + " --> " + adGroupDTO.ToString(), "<Пусто>", false,
                "Роль: " + roleVMDTO.Name + " Тип шаблона отчёта: " + adGroupDTO.ToString());

            await _jsRuntime.ToastrSuccess("Группа AD \"" + adGroupDTO.Name + "\" удалёна из роли \"" + roleVMDTO.Name + "\"");
        }
        else
        {
            await _jsRuntime.ToastrError("Группа AD \"" + adGroupDTO.Name + "\" не найдена в роли \"" + roleVMDTO.Name + "\"!");
        }

        List<RoleToADGroupDTO> newRoleToADGroupDTOs = roleVMDTO.RoleToADGroupDTOs.ToList();
        var modifiedNewRoleToADGroupDTOs = newRoleToADGroupDTOs.Where(u => !(u.ADGroupId == adGroupDTO.Id && u.RoleId == roleVMDTO.Id));
        roleVMDTO.RoleToADGroupDTOs = modifiedNewRoleToADGroupDTOs;

        await roleVMDTOGrid.UpdateRow(roleVMDTO);

    }

    async Task DeleteDepartment(RoleVMDTO roleVMDTO, MesDepartmentDTO mesDepartmentDTO)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            if (_dialogs != null)
            {
                bool selectionResult = await _dialogs.ShowYesOrNoDialogBox("Удаление производства", "Удалить производство \"" + mesDepartmentDTO.ShortName +
                        "\" из роли \"" + roleVMDTO.Name + "\" ?", "Удалить из роли", "Отмена");
                if (selectionResult == false)
                {
                    return;
                }
            }
        }

        var roleToDepartmentDTO = await _roleToToDepartmentRepository.Get(roleVMDTO.Id, mesDepartmentDTO.Id);

        if (roleToDepartmentDTO != null)
        {
            await _roleVMRepository.DeleteRoleToDepartment(roleToDepartmentDTO.Id);
            await _logEventRepository.AddRecord("Удаление связки производства с ролью", userDictionaryManagementGuid,
                roleVMDTO.Name + " --> " + mesDepartmentDTO.ShortName, "<Пусто>", false,
                "Роль: " + roleVMDTO.Name + " Производство: " + mesDepartmentDTO.ToStringHierarchyShortName);
            await _jsRuntime.ToastrSuccess("Производство \"" + mesDepartmentDTO.ShortName + "\" удалено из роли \"" + roleVMDTO.Name + "\"");
        }
        else
        {
            await _jsRuntime.ToastrError("Производство \"" + mesDepartmentDTO.ShortName + "\" не найдено в роли \"" + roleVMDTO.Name + "\"!");
        }

        roleVMDTO.RoleToDepartmentDTOs = await _roleVMRepository.GetDepartmentsLinkedToRoleByRoleId(roleVMDTO.Id);

        await roleVMDTOGrid.UpdateRow(roleVMDTO);

    }

    async Task ChangeReadWriteRights(RoleVMDTO roleVMDTO, int reportTemplateTypeToRoleId, string modeString)
    {
        if (!((modeString.Trim().ToUpper() == "READ") || (modeString.Trim().ToUpper() == "WRITE")))
        {
            await _jsRuntime.ToastrError("Не предусмотренный параметр modeString = \"" + modeString.Trim().ToUpper() + "\" передан в процедуру ChangeReadWriteRights!");
            return;
        }

        if (reportTemplateTypeToRoleId == null)
        {
            await _jsRuntime.ToastrError("Пустой код связки роли и типа шаблона отчёта!");
            return;
        }

        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            var roleToReportTemplateTypeDTO = await _reportTemplateTypeToRoleRepository.GetById(reportTemplateTypeToRoleId);
            ReportTemplateTypeTоRoleDTO oldRoleToReportTemplateTypeDTO = new ReportTemplateTypeTоRoleDTO();
            oldRoleToReportTemplateTypeDTO.Id = roleToReportTemplateTypeDTO.Id;
            oldRoleToReportTemplateTypeDTO.RoleId = roleToReportTemplateTypeDTO.RoleId;
            oldRoleToReportTemplateTypeDTO.ReportTemplateTypeId = roleToReportTemplateTypeDTO.ReportTemplateTypeId;
            oldRoleToReportTemplateTypeDTO.CanDownload = roleToReportTemplateTypeDTO.CanDownload;
            oldRoleToReportTemplateTypeDTO.CanUpload = roleToReportTemplateTypeDTO.CanUpload;                

            if (roleToReportTemplateTypeDTO == null)
            {
                await _jsRuntime.ToastrError("Не найдена связка роли и типа шаблона отчёта!");
                return;
            }

            string messageString = "";
            if (modeString.Trim().ToUpper() == "READ")
            {
                roleToReportTemplateTypeDTO.CanDownload = !roleToReportTemplateTypeDTO.CanDownload;
                if (roleToReportTemplateTypeDTO.CanDownload == true)
                    messageString = "Роли установлено право на чтение для типа шаблона отчёта";
                else
                    messageString = "У роли снято право на чтение для типа шаблона отчёта";
            }
            else
                if (modeString.Trim().ToUpper() == "WRITE")
            {
                roleToReportTemplateTypeDTO.CanUpload = !roleToReportTemplateTypeDTO.CanUpload;
                if (roleToReportTemplateTypeDTO.CanUpload == true)
                    messageString = "Роли установлено право на запись для типа шаблона отчёта";
                else
                    messageString = "У роли снято право на запись для типа шаблона отчёта";

            }

            if ((roleToReportTemplateTypeDTO.CanDownload != true) && ((roleToReportTemplateTypeDTO.CanUpload != true)))
            {
                await DeleteReportTemplateType(roleVMDTO, roleToReportTemplateTypeDTO.ReportTemplateTypeDTOFK);
                await _logEventRepository.AddRecord("Удаление связки типа шаблона отчёта с ролью", userDictionaryManagementGuid,
                    roleVMDTO.Name + " --> " + roleToReportTemplateTypeDTO.ToString()
                    ,"<Пусто>"    
                    ,false
                    ,"Роль: " + roleVMDTO.Name + " Тип шаблона отчёта: " + roleToReportTemplateTypeDTO.ToString());

            }
            else
            {
                await _reportTemplateTypeToRoleRepository.Update(roleToReportTemplateTypeDTO);

                if (oldRoleToReportTemplateTypeDTO.CanDownload != roleToReportTemplateTypeDTO.CanDownload)
                {
                    await _logEventRepository.AddRecord("Изменение доступа роли к типу шаблона отчёта", userDictionaryManagementGuid
                        , oldRoleToReportTemplateTypeDTO.CanDownload == true ? "Да" : "Нет"
                        , roleToReportTemplateTypeDTO.CanDownload == true ? "Да" : "Нет"
                        , false
                        , "Роль: " + roleVMDTO.Name + " Тип шаблона отчёта: " + roleToReportTemplateTypeDTO.ToString() +
                        " Право на чтение: " + (oldRoleToReportTemplateTypeDTO.CanDownload == true ? "Да  -->" : "Нет  -->  ") +
                        (roleToReportTemplateTypeDTO.CanDownload == true ? "Да" : "Нет"));
                }

                if (oldRoleToReportTemplateTypeDTO.CanUpload != roleToReportTemplateTypeDTO.CanUpload)
                {
                    await _logEventRepository.AddRecord("Изменение доступа роли к типу шаблона отчёта", userDictionaryManagementGuid
                        , oldRoleToReportTemplateTypeDTO.CanUpload == true ? "Да" : "Нет"
                        , roleToReportTemplateTypeDTO.CanUpload == true ? "Да" : "Нет"
                        , false
                        , "Роль: " + roleVMDTO.Name + " Тип шаблона отчёта: " + roleToReportTemplateTypeDTO.ToString() +
                        " Право на запись: " + (oldRoleToReportTemplateTypeDTO.CanUpload == true ? "Да  -->" : "Нет  -->  ") +
                        (roleToReportTemplateTypeDTO.CanUpload == true ? "Да" : "Нет"));
                }


                await _jsRuntime.ToastrSuccess(messageString);
            }

            roleVMDTO.ReportTemplateTypeTоRoleDTOs = (await _roleVMRepository.GetReportTemplateTypesLinkedToRoleByRoleId(roleVMDTO.Id));

            await roleVMDTOGrid.UpdateRow(roleVMDTO);
        }

    }

    async Task EditUser(RoleVMDTO roleVMDTO, Guid userId)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsLoading = true;

            UserDTO dialogResult;

            IsLoading = false;
            dialogResult = await _dialogService.OpenAsync<AddEditUser>("Изменить пользователя", new Dictionary<string, object>() { { "UserId", userId } }, new DialogOptions() { Width = $"{900}px", Left = $"{300}px" });

            if (dialogResult != null)
            {
                roleVMDTO.UserToRoleDTOs = await _roleVMRepository.GetUsersLinkedToRoleByRoleId(roleVMDTO.Id);
                await roleVMDTOGrid.UpdateRow(roleVMDTO);
            }

            IsLoading = false;
        }
    }


    async Task EditADGroup(RoleVMDTO roleVMDTO, Guid adGroupId)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsLoading = true;

            ADGroupDTO dialogResult;

            IsLoading = false;
            dialogResult = await _dialogService.OpenAsync<AddEditADGroup>("Изменить группу AD", new Dictionary<string, object>() { { "ADGroupId", adGroupId } }, new DialogOptions() { Width = $"{900}px", Left = $"{300}px" });

            if (dialogResult != null)
            {
                roleVMDTO.RoleToADGroupDTOs = await _roleVMRepository.GetADGroupsLinkedToRoleByRoleId(roleVMDTO.Id);
                await roleVMDTOGrid.UpdateRow(roleVMDTO);
            }

            IsLoading = false;
        }
    }


    async Task EditDepartment(RoleVMDTO roleVMDTO, int departmentId)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsLoading = true;
            MesDepartmentDTO dialogResult;
            IsLoading = false;
            dialogResult = await _dialogService.OpenAsync<AddEditMesDepartment>("Изменить производство", new Dictionary<string, object>() { { "MesDepartmentId", departmentId } }, new DialogOptions() { Width = $"{1100}px", Left = $"{300}px" });

            if (dialogResult != null)
            {
                roleVMDTO.RoleToDepartmentDTOs = await _roleVMRepository.GetDepartmentsLinkedToRoleByRoleId(roleVMDTO.Id);
                await roleVMDTOGrid.UpdateRow(roleVMDTO);
            }
            IsLoading = false;
        }
    }


    async Task EditReportTemplateType(RoleVMDTO roleVMDTO, int reportTemplateTypeId)
    {
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsLoading = true;

            ReportTemplateTypeDTO dialogResult;

            IsLoading = false;
            dialogResult = await _dialogService.OpenAsync<AddEditReportTemplateType>("Изменить тип шаблона отчёта", new Dictionary<string, object>() { { "ReportTemplateTypeId", reportTemplateTypeId } }, new DialogOptions() { Width = $"{700}px", Left = $"{300}px" });

            if (dialogResult != null)
            {
                roleVMDTO.ReportTemplateTypeTоRoleDTOs = await _roleVMRepository.GetReportTemplateTypesLinkedToRoleByRoleId(roleVMDTO.Id);
                await roleVMDTOGrid.UpdateRow(roleVMDTO);
            }

            IsLoading = false;
        }
    }

    async Task ExcelExport()
    {
        excelExportFlag = true;
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            string userLogin = await _authorizationRepository.GetCurrentUser(SD.MessageBoxMode.Off, SD.LoginReturnMode.LoginOnly);
            string filename = "Roles_Export_" + userLogin.Replace("\\", "_") + "_" + DateTime.Now.ToString().Replace(":", "_") + ".xlsx";
            await _simpleExcelExportRepository.GenerateExcelRole(filename, (IEnumerable<RoleVMDTO>)roleVMDTOGrid.View);
            await _jsRuntime.InvokeVoidAsync("open", "DownloadFileController/SimpleExcelExport/" + filename, "_blank");
        }
        excelExportFlag = false;
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);
    }

}