@page "/dictionary/SapMaterial/SapMaterialLoadFromExcel/{LoadFromExcelReportTemplateTypeNameSettingName}"

@attribute [Authorize]

@using ClosedXML.Report
@using DictionaryManagement_Business.Repository.IRepository;
@using DictionaryManagement_Models.IntDBModels
@using ClosedXML.Excel;
@* @using ClosedXML.Report; *@

@inject IJSRuntime _jsRuntime

@inject IReportEntityRepository _reportEntityRepository
@inject ILogEventRepository _logEventRepository
@inject ISettingsRepository _settingsRepository
@inject IReportTemplateTypeRepository _reportTemplateTypeRepository
@inject IReportTemplateRepository _reportTemplateRepository
@inject ISapMaterialRepository _sapMaterialRepository
@inject DictionaryManagement_Business.Repository.IAuthorizationRepository _authorizationRepository


@inject DialogService _dialogService


@if (IsAdmin == true)
{
    <_Dialogs @ref="_dialogs"></_Dialogs>


    @if (IsLoading)
    {
        <div class="text-center">
            <img src="/images/loading.gif">
        </div>
    }
    else
    {

        <RadzenTabs @bind-SelectedIndex=@selectedTabIndex Change="@(args => OnTabChange(args))">
            <Tabs>
                <RadzenTabsItem Text="Получение шаблона для заполнения">
                    <RadzenRow Gap="1rem">
                        <RadzenStack>
                            <RadzenFieldset Text="Варианты получения шаблона для заполнения" Style="font-weight: bold;">
                                <RadzenStack Gap="1rem">
                                    @if (String.IsNullOrEmpty(reportTemplateTypeName))
                                    {
                                        <br />
                                        <RadzenText class="text-warning" TextStyle="TextStyle.Body1" TagName="TagName.Span">
                                            @("Невозможно получить шаблон, так как в справочнике настроек (таблица Settings) не найдена настройка с наименованием \"" + LoadFromExcelReportTemplateTypeNameSettingName + "\"")
                                        </RadzenText>
                                        errorFlag = true;
                                    }
                                    @if (errorFlag == false && String.IsNullOrEmpty(reportTemplateTypeName))
                                    {
                                        <br />
                                        <RadzenText class="text-warning" TextStyle="TextStyle.Body1" TagName="TagName.Span">
                                            @("Невозможно получить шаблон, так как в справочнике настроек (таблица Settings) не найдена настройка с наименованием \"" + SD.ReportTemplatePathSettingName + "\"")
                                        </RadzenText>
                                        errorFlag = true;
                                    }
                                    @if (errorFlag == false && ActiveReportTemplateTypeDTO == null)
                                    {
                                        <br />
                                        <RadzenText class="text-warning" TextStyle="TextStyle.Body1" TagName="TagName.Span">
                                            @("Невозможно получить шаблон, так как не найден тип шаблона отчёта с наименованием \"" + reportTemplateTypeName + "\"")
                                        </RadzenText>
                                        errorFlag = true;
                                    }

                                    @if (errorFlag == false && ActiveReportTemplateTypeDTO != null && ActiveReportTemplateDTO == null)
                                    {
                                        <br />
                                        <RadzenText class="text-warning" TextStyle="TextStyle.Body1" TagName="TagName.Span">
                                            @("Невозможно получить шаблон, так как не найден шаблона отчёта с типом \"" + ActiveReportTemplateTypeDTO.Name + "\"")
                                        </RadzenText>
                                        errorFlag = true;
                                    }
                                    @if (errorFlag == false && String.IsNullOrEmpty(reportTempPath))
                                    {
                                        <br />
                                        <RadzenText class="text-warning" TextStyle="TextStyle.Body1" TagName="TagName.Span">
                                            @("Невозможно получить шаблон, так как в справочнике настроек (таблица Settings) не найдена настройка с наименованием \"" + SD.TempFilePathSettingName + "\"")
                                        </RadzenText>
                                        errorFlag = true;
                                    }

                                    @if (errorFlag == false && foundActiveReportTemplateFile == false)
                                    {
                                        <br />
                                        <RadzenText class="text-warning" TextStyle="TextStyle.Body1" TagName="TagName.Span">
                                            @("Невозможно получить шаблон, так как не найден файл шаблона отчёта на сервере по пути \"" + fileTemplateFullPath + "\"")
                                        </RadzenText>
                                        errorFlag = true;
                                    }

                                    <div class="rz-text-align-center">
                                        <RadzenButton Text="Скачать пустой шаблон для заполнения" title="Получить пустой шаблон файла с заголовками и подсказками для заполнения"
                                                      Icon="download" Disabled="@(!foundActiveReportTemplateFile)" ButtonStyle="ButtonStyle.Info" Style="margin-top: 10px; width: 800px;" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                      Click="@(args => ReportTemplateDownloadFile(@ActiveReportTemplateDTO.Id))" @onclick:stopPropagation="true"
                                                      IsBusy=@reportTemplateDownloadFileBusyFlag BusyText="Выполняется ...">
                                        </RadzenButton>
                                    </div>
                                    <div class="rz-text-align-center">
                                        <RadzenButton Text="Скачать шаблон для заполнения с данными" title="Получить шаблон файла с данными справочника Материалы SAP в качестве примера заполнения"
                                                      Icon="download" Disabled="@(!foundActiveReportTemplateFile)" ButtonStyle="ButtonStyle.Info" Style="margin-top: 10px; width: 800px;" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                      Click="@(args => ReportTemplateDownloadFileWithData(@ActiveReportTemplateDTO.Id))" @onclick:stopPropagation="true"
                                                      IsBusy=@reportTemplateDownloadFileWithDataBusyFlag BusyText=@reportTemplateDownloadFileWithDataBusyText>
                                        </RadzenButton>
                                    </div>
                                </RadzenStack>
                            </RadzenFieldset>
                        </RadzenStack>
                    </RadzenRow>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Загрузить данные из Excel">
                    <RadzenRow Gap="1rem">
                        <RadzenStack>
                            <RadzenCard Style="width: 100%;">
                                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Выбрать файл Excel с данными загружаемых Материалов SAP</RadzenText>
                                <RadzenUpload @ref="upload" Auto="false" ChooseText="Выбрать" Multiple="false" Accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                              Url=@("UploadFileController/UploadReportEntityFile/"+Guid.NewGuid().ToString())
                                              Change=@(args => OnChangeUploadFile(args)) Progress=@(args => OnProgressUploadFile(args)) />
                                @*                                 @if (!String.IsNullOrEmpty(uploadFileWarning))
                        {
                        <br />
                        <RadzenText class="text-warning" TextStyle="TextStyle.Body1" TagName="TagName.Span">@uploadFileWarning</RadzenText>
                        } *@
                            </RadzenCard>
                            <RadzenCard Style="width: 100%;">
                                <RadzenButton Text="Загрузить данные из файла" title="Запуск загрузки данных из выбранного файла"
                                              Icon="west" Disabled="@(String.IsNullOrEmpty(uploadFileWarning))" ButtonStyle="ButtonStyle.Info" Style="margin-top: 10px; width: 800px;" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                              Click=@(() => LoadExcelFile().GetAwaiter()) @onclick:stopPropagation="true"
                                              IsBusy=@loadExcelFileBusyFlag BusyText="Выполняется ...">
                                </RadzenButton>
                            </RadzenCard>
                            @if (isClickedLoadExcelFile)
                            {
                                <RadzenCard Style="width: 100%; height: 420px;">
                                    <EventConsole @ref=@console />
                                </RadzenCard>
                            }
                        </RadzenStack>
                    </RadzenRow>
                </RadzenTabsItem>

                <RadzenTabsItem Text="Результат загрузки">
                    <RadzenRow Gap="1rem">
                        <RadzenStack>
                            <RadzenFieldset Text="Скачать результат обработки файла" Style="font-weight: bold;">
                                <RadzenStack Gap="1rem">
                                    <div class="rz-text-align-center">
                                        <RadzenButton Text="Скачать результат" title="Получить обработанный файл с сообщениями об ошибках или удачной обработке строк Excel-файла"
                                                      Icon="download" Disabled="@(ResultFileId == Guid.Empty)" ButtonStyle="ButtonStyle.Info" Style="margin-top: 10px; width: 800px;" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                      Click="@(() => DownloadResultFile())" @onclick:stopPropagation="true">
                                        </RadzenButton>
                                    </div>
                                </RadzenStack>
                            </RadzenFieldset>
                        </RadzenStack>
                    </RadzenRow>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    }
}


@code {

        int selectedTabIndex = 0;

        _Dialogs? _dialogs { get; set; }

    public EventConsole console;

    [Parameter]
    public string LoadFromExcelReportTemplateTypeNameSettingName { get; set; }

    RadzenUpload upload;

    XLWorkbook? workbook = null;

    Variant variant = Variant.Outlined;

    public string reportTemplateTypeName = "";

    public string reportDownloadPath = "";
    public string reportUploadPath = "";
    public string reportTemplatePath = "";
    public string reportTempPath = "";

    public string fileDownloadFullPath = "";
    public string fileUploadFullPath = "";
    public string fileTemplateFullPath = "";
    public string fileReportTempFullPath = "";

    public Guid ResultFileId = Guid.Empty;

    string uploadFileWarning = "";

    public ReportTemplateTypeDTO? ActiveReportTemplateTypeDTO { get; set; }
    public ReportTemplateDTO? ActiveReportTemplateDTO { get; set; }
    public SettingsDTO? ActiveSettingDTO { get; set; }

    public bool foundActiveReportTemplateFile = false;
    public bool errorFlag = false;
    public bool reportTemplateDownloadFileBusyFlag = false;
    public bool reportTemplateDownloadFileWithDataBusyFlag = false;
    public bool loadExcelFileBusyFlag = false;
    public bool isClickedLoadExcelFile = false;
    public string reportTemplateDownloadFileWithDataBusyText = "Выполняется ...";

    public bool IsLoading { get; set; }
    public bool IsAdmin { get; set; }

    private string Title { get; set; } = "Загрузка данных из Excel в справочник Материалы SAP";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsLoading = true;
            StateHasChanged();

            foundActiveReportTemplateFile = false;

            ActiveSettingDTO = await _settingsRepository.GetByName(SD.ReportUploadPathSettingName);
            if (ActiveSettingDTO != null)
                reportUploadPath = ActiveSettingDTO.Value.Trim();
            else
                reportUploadPath = "";

            ActiveSettingDTO = await _settingsRepository.GetByName(SD.ReportDownloadPathSettingName);
            if (ActiveSettingDTO != null)
                reportDownloadPath = ActiveSettingDTO.Value.Trim();
            else
                reportDownloadPath = "";

            ActiveSettingDTO = await _settingsRepository.GetByName(SD.ReportTemplatePathSettingName);
            if (ActiveSettingDTO != null)
                reportTemplatePath = ActiveSettingDTO.Value.Trim();
            else
                reportTemplatePath = "";

            ActiveSettingDTO = await _settingsRepository.GetByName(SD.TempFilePathSettingName);
            if (ActiveSettingDTO != null)
                reportTempPath = ActiveSettingDTO.Value.Trim();
            else
                reportTempPath = "";

            fileDownloadFullPath = "";
            fileUploadFullPath = "";
            fileTemplateFullPath = "";

            ActiveSettingDTO = await _settingsRepository.GetByName(LoadFromExcelReportTemplateTypeNameSettingName);

            if (ActiveSettingDTO != null)
                reportTemplateTypeName = ActiveSettingDTO.Value.Trim();
            else
                reportTemplateTypeName = "";

            ActiveReportTemplateTypeDTO = await _reportTemplateTypeRepository.GetByName(reportTemplateTypeName);

            if (ActiveReportTemplateTypeDTO != null)
            {
                ActiveReportTemplateDTO = await _reportTemplateRepository.GetByReportTemplateTypeId(ActiveReportTemplateTypeDTO.Id);
            }
            else
            {
                ActiveReportTemplateDTO = null;
            }

            if (ActiveReportTemplateDTO != null)
            {
                fileTemplateFullPath = reportTemplatePath + ActiveReportTemplateDTO.TemplateFileName;
            }

            if (System.IO.File.Exists(fileTemplateFullPath))
                foundActiveReportTemplateFile = true;

            IsLoading = false;
            IsAdmin = true;
            StateHasChanged();

        }
    }

    async Task ReportTemplateDownloadFile(Guid id)
    {
        reportTemplateDownloadFileBusyFlag = true;
        //reportTemplateDownloadFileWithDataBusyFlag = true;
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsAdmin = true;
            await _jsRuntime.InvokeVoidAsync("open", "/DownloadFileController/DownloadReportTemplateFile/" + id.ToString(), "_blank");
        }
        reportTemplateDownloadFileBusyFlag = false;
        //reportTemplateDownloadFileWithDataBusyFlag = false;
    }

    async Task ReportTemplateDownloadFileWithData(Guid id)
    {
        reportTemplateDownloadFileWithDataBusyFlag = true;
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsAdmin = true;
            reportTemplateDownloadFileWithDataBusyText = "Выполняется ... (получение шаблона файла)";

            await Task.Delay(200);
            await InvokeAsync(StateHasChanged);

            try
            {
                using var workbook = new XLWorkbook(fileTemplateFullPath);
                {
                    var worksheet = workbook.Worksheet("SapMaterial");
                    reportTemplateDownloadFileWithDataBusyText = "Выполняется ... (получение списка Материалов SAP)";
                    await Task.Delay(200);
                    await InvokeAsync(StateHasChanged);

                    IEnumerable<SapMaterialDTO> sapMaterialDTOList = (await _sapMaterialRepository.GetAll(SD.SelectDictionaryScope.All)).OrderBy(u => u.Id);

                    int recordCount = sapMaterialDTOList.Count();
                    int recordOrder = 0;

                    int excelRowNum = 9;
                    int excelColNum;
                    foreach (var sapMaterialDTOItem in sapMaterialDTOList)
                    {
                        recordOrder++;
                        if ((recordOrder == 1) || (recordOrder % 100) == 0)
                        {
                            reportTemplateDownloadFileWithDataBusyText = "Выполняется ... (обрабатывается запись " + recordOrder.ToString() + " из " + recordCount.ToString() + ")";
                            await Task.Delay(200);
                            await InvokeAsync(StateHasChanged);
                        }

                        excelColNum = 2;
                        worksheet.Cell(excelRowNum, excelColNum).Value = sapMaterialDTOItem.Id.ToString();
                        excelColNum++;
                        worksheet.Cell(excelRowNum, excelColNum).Value = sapMaterialDTOItem.Code;
                        excelColNum++;
                        worksheet.Cell(excelRowNum, excelColNum).Value = sapMaterialDTOItem.Name;
                        excelColNum++;
                        worksheet.Cell(excelRowNum, excelColNum).Value = sapMaterialDTOItem.ShortName;
                        excelColNum++;
                        worksheet.Cell(excelRowNum, excelColNum).Value = sapMaterialDTOItem.IsArchive == true ? "Да" : "Нет";
                        excelRowNum++;
                    }

                    string userLogin = await _authorizationRepository.GetCurrentUser(SD.MessageBoxMode.Off, SD.LoginReturnMode.LoginOnly);
                    string filename = "SapMaterial_Example_with_data_" + userLogin.Replace("\\", "_") + "_" + DateTime.Now.ToString().Replace(":", "_") + ".xlsx";
                    fileReportTempFullPath = System.IO.Path.Combine(reportTempPath, filename);

                    workbook.SaveAs(fileReportTempFullPath);
                    if (workbook != null)
                        workbook.Dispose();

                    await _jsRuntime.InvokeVoidAsync("open", "DownloadFileController/SimpleExcelExport/" + filename, "_blank");
                }
            }
            catch (Exception ex)
            {
                await _jsRuntime.InvokeVoidAsync("ShowSwal", "error", "При выполнении операции произошла ошибка. Сообщение ошибки: " + ex.Message);
            }
            //await _jsRuntime.InvokeVoidAsync("open", "/DownloadFileController/DownloadReportEntityDownloadFile/" + id.ToString(), "_blank");
        }
        reportTemplateDownloadFileWithDataBusyFlag = false;
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);
    }


    async Task LoadExcelFile()
    {
        ResultFileId = Guid.Empty;

        isClickedLoadExcelFile = true;

        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);

        console.Log($"--> Начало процесса");
        console.Log($"Определение прав пользователя");

        loadExcelFileBusyFlag = true;
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsAdmin = true;

            Guid reportEntityId = Guid.NewGuid();
            console.Log($"Загрузка файла на сервер");
            try
            {
                upload.Url = @"UploadFileController/UploadReportEntityFile/" + reportEntityId;
                await upload.Upload();
            }
            catch (Exception ex1)
            {
                console.Log($"! Загрузка файла на сервер завершилась неудачей. Сообщение ошибки: " + ex1.Message, AlertStyle.Danger);
                loadExcelFileBusyFlag = false;
                await Task.Delay(1);
                await InvokeAsync(StateHasChanged);
                return;
            }

            Guid userId = (await _authorizationRepository.GetCurrentUserDTO()).Id;

            ReportEntityDTO reportEntityForCreateDTO = new ReportEntityDTO();
            reportEntityForCreateDTO.Id = reportEntityId;
            reportEntityForCreateDTO.ReportTemplateId = ActiveReportTemplateDTO.Id;
            reportEntityForCreateDTO.ReportTimeStart = DateTime.Now;
            reportEntityForCreateDTO.ReportTimeEnd = DateTime.Now;
            reportEntityForCreateDTO.ReportDepartmentId = ActiveReportTemplateDTO.DepartmentId;
            reportEntityForCreateDTO.DownloadTime = null;
            reportEntityForCreateDTO.DownloadUserId = userId;
            reportEntityForCreateDTO.DownloadReportFileName = null;
            reportEntityForCreateDTO.DownloadSuccessFlag = false;
            reportEntityForCreateDTO.UploadTime = DateTime.Now;
            reportEntityForCreateDTO.UploadUserId = userId;
            reportEntityForCreateDTO.UploadReportFileName = reportEntityId.ToString() + ".xlsx";
            reportEntityForCreateDTO.UploadSuccessFlag = true;

            ReportEntityDTO createdReportEntityDTO = _reportEntityRepository.Create(reportEntityForCreateDTO).GetAwaiter().GetResult();

            fileUploadFullPath = reportUploadPath + createdReportEntityDTO.UploadReportFileName;

            // if (!System.IO.File.Exists(fileUploadFullPath))
            // {
            //     console.Log($"! Не удалось найти файл: " + fileUploadFullPath, AlertStyle.Danger);
            //     loadExcelFileBusyFlag = false;
            //     await Task.Delay(1);
            //     await InvokeAsync(StateHasChanged);
            //     return;
            // }

            console.Log($"Загрузка файла в память");

            XLWorkbook workbook;
            try
            {
                workbook = new XLWorkbook(fileTemplateFullPath);
            }
            catch (Exception ex)
            {
                console.Log($"! Не удалось загрузить в память файл: " + fileUploadFullPath + ". Сообщение ошибки: " + ex.Message, AlertStyle.Danger);
                loadExcelFileBusyFlag = false;
                await Task.Delay(1);
                await InvokeAsync(StateHasChanged);
                return;
            }

            if (workbook == null)
            {
                console.Log($"! Не удалось загрузить в память файл: " + fileUploadFullPath, AlertStyle.Danger);
                loadExcelFileBusyFlag = false;
                if (workbook != null)
                    workbook.Dispose();
                await Task.Delay(1);
                await InvokeAsync(StateHasChanged);
                return;
            }

            console.Log($"Файл загружен в память");

            console.Log($"Загрузка листа SapMaterial");

            IXLWorksheet worksheet;
            try
            {
                worksheet = workbook.Worksheet("SapMaterial");
            }
            catch (Exception ex)
            {
                console.Log($"! Не удалось загрузить лист: SapMaterial. Сообщение ошибки: " + ex.Message, AlertStyle.Danger);
                loadExcelFileBusyFlag = false;
                if (workbook != null)
                    workbook.Dispose();
                await Task.Delay(1);
                await InvokeAsync(StateHasChanged);
                return;
            }
            if (worksheet == null)
            {
                console.Log($"! Не удалось загрузить лист: SapMaterial", AlertStyle.Danger);
                loadExcelFileBusyFlag = false;
                if (workbook != null)
                    workbook.Dispose();
                await Task.Delay(1);
                await InvokeAsync(StateHasChanged);
                return;
            }

            console.Log($"Лист SapMaterial загружен");

            ResultFileId = createdReportEntityDTO.Id;

            int rowNumber = 9;

            bool isEmptyString = false;

            while(isEmptyString == false)
            {

                console.Log($"Обработка строки " + rowNumber.ToString());

                var rowVar = worksheet.Row(rowNumber);

                string idVarString = rowVar.Cell(2).CachedValue.ToString().Trim();
                string codeVarString = rowVar.Cell(3).CachedValue.ToString().Trim();
                string nameVarString = rowVar.Cell(4).CachedValue.ToString().Trim();
                string shortNameVarString = rowVar.Cell(5).CachedValue.ToString().Trim();
                string isArchiveVarString = rowVar.Cell(6).CachedValue.ToString().Trim();
                string resultString = "";
                int idVarInt = 0;

                if (String.IsNullOrEmpty(idVarString) && String.IsNullOrEmpty(codeVarString) && String.IsNullOrEmpty(nameVarString)
                        && String.IsNullOrEmpty(shortNameVarString) && String.IsNullOrEmpty(isArchiveVarString))
                {
                    isEmptyString = true;
                    continue;
                }

                SapMaterialDTO? foundSapMaterialDTO = null;
                if (!String.IsNullOrEmpty(idVarString))  // если указан id элемента, то рассматриваем только вариант редактирования уже существующей записи
                {
                    try
                    {
                        idVarInt = int.Parse(idVarString);
                    }
                    catch (Exception ex)
                    {
                        idVarInt = 0;
                        resultString = "! Строка " + rowNumber.ToString() + ", столбец 2. Не удалось получить целое число ИД записи." +
                            " Изменения не применялись. Сообщение ошибки: " + ex.Message;
                        worksheet.Cell(rowNumber, 7).Value = resultString;
                        worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                        worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                        console.Log(resultString, AlertStyle.Danger);
                        rowNumber++;
                        continue;
                    }

                    if(idVarInt<=0)
                    {
                        resultString = "! Строка " + rowNumber.ToString() + ", столбец 2. Неверное значение ИД записи равное " + idVarInt.ToString() + ".Изменения не применялись.";
                        worksheet.Cell(rowNumber, 7).Value = resultString;
                        worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                        worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                        console.Log(resultString, AlertStyle.Danger);
                        rowNumber++;
                        continue;
                    }

                    foundSapMaterialDTO = await _sapMaterialRepository.Get(idVarInt);
                    if (foundSapMaterialDTO == null)
                    {
                        resultString = "! Строка " + rowNumber.ToString() + ", столбец 2. Не найдена запись в справочнике с ИД записи равным " + idVarInt.ToString() + ".Изменения не применялись.";
                        worksheet.Cell(rowNumber, 7).Value = resultString;
                        worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                        worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                        console.Log(resultString, AlertStyle.Danger);
                        rowNumber++;
                        continue;
                    }

                    SapMaterialDTO changedSapMaterialDTO = new SapMaterialDTO();
                    changedSapMaterialDTO.Id = foundSapMaterialDTO.Id;

                    if (String.IsNullOrEmpty(codeVarString))
                    {
                        changedSapMaterialDTO.Code = foundSapMaterialDTO.Code;
                    }
                    else
                    {
                        if (foundSapMaterialDTO.Code.Equals(codeVarString))
                        {
                            changedSapMaterialDTO.Code = foundSapMaterialDTO.Code;
                        }
                        else
                        {
                            var objectForCheckCode = _sapMaterialRepository.GetByCode(codeVarString).Result;
                            if (objectForCheckCode != null)
                            {
                                if (objectForCheckCode.Id != foundSapMaterialDTO.Id)
                                {
                                    resultString = "! Строка " + rowNumber.ToString() + ", столбец 3. Уже есть запись с кодом материала " + codeVarString
                                        + ". ИД записи: " + objectForCheckCode.Id.ToString() +
                                        ". Наименование: " + objectForCheckCode.ShortName + ". Изменения не применялись.";
                                    worksheet.Cell(rowNumber, 7).Value = resultString;
                                    worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                                    worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                                    console.Log(resultString, AlertStyle.Danger);
                                    rowNumber++;
                                    continue;
                                }
                                else
                                {
                                    changedSapMaterialDTO.Code = foundSapMaterialDTO.Code;
                                }
                            }
                            else
                            {
                                changedSapMaterialDTO.Code = foundSapMaterialDTO.Code;
                            }
                        }
                    }


                    if (String.IsNullOrEmpty(nameVarString))
                    {
                        changedSapMaterialDTO.Name = foundSapMaterialDTO.Name;
                    }
                    else
                    {
                        if (foundSapMaterialDTO.Name.Equals(nameVarString))
                        {
                            changedSapMaterialDTO.Name = foundSapMaterialDTO.Name;
                        }
                        else
                        {
                            var objectForCheckName = _sapMaterialRepository.GetByName(nameVarString).Result;
                            if (objectForCheckName != null)
                            {
                                if (objectForCheckName.Id != foundSapMaterialDTO.Id)
                                {
                                    resultString = "! Строка " + rowNumber.ToString() + ", столбец 4. Уже есть запись с наименованием " + nameVarString
                                        + ". ИД записи: " + objectForCheckName.Id.ToString() +
                                        ". Код: " + objectForCheckName.Code + ". Изменения не применялись.";
                                    worksheet.Cell(rowNumber, 7).Value = resultString;
                                    worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                                    worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                                    console.Log(resultString, AlertStyle.Danger);
                                    rowNumber++;
                                    continue;
                                }
                                else
                                {
                                    changedSapMaterialDTO.Name = foundSapMaterialDTO.Name;
                                }
                            }
                            else
                            {
                                changedSapMaterialDTO.Name = foundSapMaterialDTO.Name;
                            }
                        }
                    }


                    if (String.IsNullOrEmpty(shortNameVarString))
                    {
                        changedSapMaterialDTO.ShortName = foundSapMaterialDTO.ShortName;
                    }
                    else
                    {
                        if (foundSapMaterialDTO.ShortName.Equals(shortNameVarString))
                        {
                            changedSapMaterialDTO.ShortName = foundSapMaterialDTO.ShortName;
                        }
                        else
                        {
                            var objectForCheckShortName = _sapMaterialRepository.GetByShortName(shortNameVarString).Result;                            
                            if (objectForCheckShortName != null)
                            {
                                if (objectForCheckShortName.Id != foundSapMaterialDTO.Id)
                                {
                                    resultString = "! Строка " + rowNumber.ToString() + ", столбец 5. Уже есть запись с сокр. наименованием " + shortNameVarString
                                        + ". ИД записи: " + objectForCheckShortName.Id.ToString() +
                                        ". Код: " + objectForCheckShortName.Code + ". Изменения не применялись.";
                                    worksheet.Cell(rowNumber, 7).Value = resultString;
                                    worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                                    worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                                    console.Log(resultString, AlertStyle.Danger);
                                    rowNumber++;
                                    continue;
                                }
                                else
                                {
                                    changedSapMaterialDTO.ShortName = foundSapMaterialDTO.ShortName;
                                }
                            }
                            else
                            {
                                changedSapMaterialDTO.ShortName = foundSapMaterialDTO.ShortName;
                            }
                        }
                    }

                    if (String.IsNullOrEmpty(isArchiveVarString))
                    {
                        changedSapMaterialDTO.IsArchive = false;
                    }
                    else
                    {
                        changedSapMaterialDTO.IsArchive = isArchiveVarString.ToUpper().Equals("ДА") ? true : false;
                    }

                    await _sapMaterialRepository.Update(changedSapMaterialDTO, SD.UpdateMode.Update);

                    if (changedSapMaterialDTO.IsArchive != foundSapMaterialDTO.IsArchive)
                        if (changedSapMaterialDTO.IsArchive == true)
                        {
                            await _sapMaterialRepository.Update(changedSapMaterialDTO, SD.UpdateMode.MoveToArchive);
                        }
                        else
                        {
                            await _sapMaterialRepository.Update(changedSapMaterialDTO, SD.UpdateMode.RestoreFromArchive);
                        }

                    await _logEventRepository.ToLog<SapMaterialDTO>(oldObject: foundSapMaterialDTO, newObject: changedSapMaterialDTO, "Изменение материала SAP", "Материал SAP: ", _authorizationRepository);

                    resultString = "OK. Строка  " + rowNumber.ToString() + " успешно обработана. Материал изменён.";
                    worksheet.Cell(rowNumber, 7).Value = resultString;
                    worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Green;                    
                    console.Log(resultString, AlertStyle.Danger);
                    rowNumber++;
                    continue;
                }

                //-------------------------------------

                if (!String.IsNullOrEmpty(codeVarString))  // если указан Code элемента, то может быть как обновление записи, так и добавление
                {
                    foundSapMaterialDTO = await _sapMaterialRepository.GetByCode(codeVarString);
                    if (foundSapMaterialDTO == null)  // добавление
                    {

                        SapMaterialDTO forAddSapMaterialDTO = new SapMaterialDTO();

                        var objectForCheckCode = _sapMaterialRepository.GetByCode(codeVarString).Result;
                        if (objectForCheckCode != null)
                        {
                            resultString = "! Строка " + rowNumber.ToString() + ", столбец 3. Уже есть запись с кодом " + codeVarString +
                                ". ИД записи: " + objectForCheckCode.Id.ToString() + " Наименование: " + objectForCheckCode.ShortName + ".Изменения не применялись.";
                            worksheet.Cell(rowNumber, 7).Value = resultString;
                            worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                            worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                            console.Log(resultString, AlertStyle.Danger);
                            rowNumber++;
                            continue;
                        }

                        forAddSapMaterialDTO.Code = codeVarString;

                        if (String.IsNullOrEmpty(nameVarString))
                        {
                            resultString = "! Строка " + rowNumber.ToString() + ", столбец 4. Для добавляемой записи не может быть пустое наименование. Изменения не применялись.";
                            worksheet.Cell(rowNumber, 7).Value = resultString;
                            worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                            worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                            console.Log(resultString, AlertStyle.Danger);
                            rowNumber++;
                            continue;
                        }
                        else
                        {
                            var objectForCheckName = _sapMaterialRepository.GetByName(nameVarString).Result;
                            if (objectForCheckName != null)
                            {
                                resultString = "! Строка " + rowNumber.ToString() + ", столбец 4. Уже есть запись с наименованием " + nameVarString
                                        + ". ИД записи: " + objectForCheckName.Id.ToString() +
                                        ". Код: " + objectForCheckName.Code + ". Изменения не применялись.";
                                worksheet.Cell(rowNumber, 7).Value = resultString;
                                worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                                worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                                console.Log(resultString, AlertStyle.Danger);
                                rowNumber++;
                                continue;
                            }
                            forAddSapMaterialDTO.Name = nameVarString;
                        }

                        if (String.IsNullOrEmpty(shortNameVarString))
                        {
                            resultString = "! Строка " + rowNumber.ToString() + ", столбец 5. Для добавляемой записи не может быть пустое сокращённое наименование. Изменения не применялись.";
                            worksheet.Cell(rowNumber, 7).Value = resultString;
                            worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                            worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                            console.Log(resultString, AlertStyle.Danger);
                            rowNumber++;
                            continue;
                        }
                        else
                        {
                            var objectForCheckShortName = _sapMaterialRepository.GetByShortName(shortNameVarString).Result;
                            if (objectForCheckShortName != null)
                            {
                                resultString = "! Строка " + rowNumber.ToString() + ", столбец 5. Уже есть запись с сокращённым наименованием " + shortNameVarString
                                        + ". ИД записи: " + objectForCheckShortName.Id.ToString() +
                                        ". Код: " + objectForCheckShortName.Code + ". Изменения не применялись.";
                                worksheet.Cell(rowNumber, 7).Value = resultString;
                                worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                                worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                                console.Log(resultString, AlertStyle.Danger);
                                rowNumber++;
                                continue;
                            }
                            forAddSapMaterialDTO.ShortName = shortNameVarString;
                        }

                        forAddSapMaterialDTO.IsArchive = isArchiveVarString.ToUpper().Equals("ДА") ? true : false;

                        var newSapMaterialDTO = await _sapMaterialRepository.Create(forAddSapMaterialDTO);
                        await _logEventRepository.ToLog<SapMaterialDTO>(oldObject: null, newObject: newSapMaterialDTO, "Добавление материала SAP", "Материал SAP: ", _authorizationRepository);

                        resultString = "OK. Строка  " + rowNumber.ToString() + " успешно обработана. Материал добавлен";
                        worksheet.Cell(rowNumber, 7).Value = resultString;
                        worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Green;
                        console.Log(resultString, AlertStyle.Danger);
                        rowNumber++;
                        continue;
                    }
                    else  // изменение
                    {
                        SapMaterialDTO forChangeSapMaterialDTO = new SapMaterialDTO();
                        forChangeSapMaterialDTO.Id = foundSapMaterialDTO.Id;
                        if (String.IsNullOrEmpty(nameVarString))
                        {
                            forChangeSapMaterialDTO.Name = foundSapMaterialDTO.Name;
                        }
                        else
                        {
                            if (forChangeSapMaterialDTO.Name.Equals(nameVarString))
                            {
                                forChangeSapMaterialDTO.Name = foundSapMaterialDTO.Name;
                            }
                            else
                            {
                                var objectForCheckName = _sapMaterialRepository.GetByName(nameVarString).Result;
                                if (objectForCheckName != null)
                                {
                                    if (objectForCheckName.Id != foundSapMaterialDTO.Id)
                                    {
                                        resultString = "! Строка " + rowNumber.ToString() + ", столбец 4. Уже есть запись с наименованием " + nameVarString
                                            + ". ИД записи: " + objectForCheckName.Id.ToString() +
                                            ". Код: " + objectForCheckName.Code + ". Изменения не применялись.";
                                        worksheet.Cell(rowNumber, 7).Value = resultString;
                                        worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                                        worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                                        console.Log(resultString, AlertStyle.Danger);
                                        rowNumber++;
                                        continue;
                                    }
                                    else
                                    {
                                        forChangeSapMaterialDTO.Name = foundSapMaterialDTO.Name;
                                    }
                                }
                                else
                                {
                                    forChangeSapMaterialDTO.Name = foundSapMaterialDTO.Name;
                                }
                            }
                        }


                        if (String.IsNullOrEmpty(shortNameVarString))
                        {
                            forChangeSapMaterialDTO.ShortName = foundSapMaterialDTO.ShortName;
                        }
                        else
                        {
                            if (foundSapMaterialDTO.ShortName.Equals(shortNameVarString))
                            {
                                forChangeSapMaterialDTO.ShortName = foundSapMaterialDTO.ShortName;
                            }
                            else
                            {
                                var objectForCheckShortName = _sapMaterialRepository.GetByShortName(shortNameVarString).Result;
                                if (objectForCheckShortName != null)
                                {
                                    if (objectForCheckShortName.Id != foundSapMaterialDTO.Id)
                                    {
                                        resultString = "! Строка " + rowNumber.ToString() + ", столбец 5. Уже есть запись с сокр. наименованием " + shortNameVarString
                                            + ". ИД записи: " + objectForCheckShortName.Id.ToString() +
                                            ". Код: " + objectForCheckShortName.Code + ". Изменения не применялись.";
                                        worksheet.Cell(rowNumber, 7).Value = resultString;
                                        worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Red;
                                        worksheet.Cell(rowNumber, 7).Style.Font.SetBold(true);
                                        console.Log(resultString, AlertStyle.Danger);
                                        rowNumber++;
                                        continue;
                                    }
                                    else
                                    {
                                        forChangeSapMaterialDTO.ShortName = foundSapMaterialDTO.ShortName;
                                    }
                                }
                                else
                                {
                                    forChangeSapMaterialDTO.ShortName = foundSapMaterialDTO.ShortName;
                                }
                            }
                        }

                        if (String.IsNullOrEmpty(isArchiveVarString))
                        {
                            forChangeSapMaterialDTO.IsArchive = false;
                        }
                        else
                        {
                            forChangeSapMaterialDTO.IsArchive = isArchiveVarString.ToUpper().Equals("ДА") ? true : false;
                        }

                        await _sapMaterialRepository.Update(forChangeSapMaterialDTO, SD.UpdateMode.Update);

                        if (forChangeSapMaterialDTO.IsArchive != foundSapMaterialDTO.IsArchive)
                            if (forChangeSapMaterialDTO.IsArchive == true)
                            {
                                await _sapMaterialRepository.Update(forChangeSapMaterialDTO, SD.UpdateMode.MoveToArchive);
                            }
                            else
                            {
                                await _sapMaterialRepository.Update(forChangeSapMaterialDTO, SD.UpdateMode.RestoreFromArchive);
                            }

                        await _logEventRepository.ToLog<SapMaterialDTO>(oldObject: foundSapMaterialDTO, newObject: forChangeSapMaterialDTO, "Изменение материала SAP", "Материал SAP: ", _authorizationRepository);

                        resultString = "OK. Строка  " + rowNumber.ToString() + " успешно обработана. Материал изменён.";
                        worksheet.Cell(rowNumber, 7).Value = resultString;
                        worksheet.Cell(rowNumber, 7).Style.Font.FontColor = XLColor.Green;
                        console.Log(resultString, AlertStyle.Danger);
                        rowNumber++;
                        continue;
                    }
                }
                rowNumber++;
            }

            console.Log($"Сохранение файла результата");

            workbook.SaveAs(fileUploadFullPath);
            if (workbook != null)
                workbook.Dispose();
        }
        else
        {
            console.Log($" : ! Пользователь не обладает правами администратора", AlertStyle.Warning);
            console.Log($" : ! Процесс загрузки остановлен <--", AlertStyle.Warning);
        }

        if (workbook != null)
            workbook.Dispose();

        console.Log($"<-- Окончание процесса");

        console.Log("<a href=\"/DownloadFileController/DownloadReportEntityUploadFile/" + ResultFileId.ToString()
                + "\">Кликните, чтобы скачать результат обработки файла</a>");
               
        loadExcelFileBusyFlag = false;
        await Task.Delay(1);
        await InvokeAsync(StateHasChanged);
    }



    void OnChangeUploadFile(UploadChangeEventArgs args)
    {
        //console.Log($"{args.Progress}% '{name}' / {args.Loaded} of {args.Total} bytes.");

        uploadFileWarning = "";
        isClickedLoadExcelFile = false;
        if (console != null)
            console.Clear();
        if (args.Files.Count() > 0)
        {

            if (args.Files.ToList()[0].Size > 31457280)
            {
                upload.ClearFiles();
                _jsRuntime.InvokeVoidAsync("ShowSwal", "error", "Файл не может быть больше 30 МБ");
            }
            else
            {
                if (Path.GetExtension(args.Files.ToList()[0].Name).ToUpper() != ".XLSX")
                {
                    upload.ClearFiles();
                    _jsRuntime.InvokeVoidAsync("ShowSwal", "error", "Файл должен быть формата xlsx");
                }
            }
            uploadFileWarning = "Для загрузки данных из файла нажмите  \"Загрузить данные из файла\"";
        }
    }


    void OnProgressUploadFile(UploadProgressArgs args)
    {
        var loadedFileName = "";
        if (args.Progress == 100)
        {
            foreach (var file in args.Files)
            {
                loadedFileName = file.Name;
            }
        }
    }


    async Task OnTabChange(int value)
    {
        selectedTabIndex = value;

        switch (selectedTabIndex)
        {
            case 0:
                {
                    break;
                }

            case 1:
                {
                    break;
                }
            case 2:
                {
                    break;
                }

            default:
                {
                    break;
                }
        }
        StateHasChanged();
    }

    async Task DownloadResultFile()
    {
        if (ResultFileId != Guid.Empty)
        {
            if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
            {                
                await _jsRuntime.InvokeVoidAsync("open", "/DownloadFileController/DownloadReportEntityUploadFile/" + ResultFileId.ToString(), "_blank");
            }
        }
    }
}
