@page "/tags/MesParam/TagInReportTemplate/{DataList}"

@attribute [Authorize]

@using DictionaryManagement_Business.Repository.IRepository;
@using DictionaryManagement_Models.IntDBModels
@using DictionaryManagement_Server.Extensions.Repository.IRepository
@using static DictionaryManagement_Common.SD

@inject DictionaryManagement_Business.Repository.IAuthorizationRepository _authorizationRepository

@if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
{
    <div class="row my-2">
        <div class="col-md-12">
            @if (IsLoading)
            {
                <Loading IsLoading="@IsLoading" />
            }
            else
            {
                <RadzenRow Gap="1rem">
                    <RadzenColumn Size="12">
                        <RadzenStack>
                            <RadzenStack Gap="1rem">
                                <RadzenDataGridApp AllowAlternatingRows="true" AllowFiltering="true" AllowPaging="false" AllowSorting="true" AllowMultiColumnSorting="true" EditMode="DataGridEditMode.Single"
                                                   Data="DataList" TItem="ReportTemplateToMesParamDTO"
                                                   FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                   FilterMode="FilterMode.Simple"
                                                   Density=Density.Compact
                                                   ShowPagingSummary="true"
                                                   Style="height:80vh"
                                                   AllowVirtualization="true"
                                                   AllowColumnReorder="true"
                                                   AllowColumnResize="true"
                                                   ColumnWidth="200px"
                                                   GridLines="DataGridGridLines.Both"
                                                   ShowCleanGridSettingsHeaderButton="false"
                                                   ShowCleanGridFiltersHeaderButton="false"
                                                   ShowCleanGridSortsHeaderButton="false">
                                    <Columns>
                                        <RadzenDataGridColumnApp TItem="ReportTemplateToMesParamDTO" Property="ToStringId" Title="Ид записи" Width="50px" TextAlign="TextAlign.Center"
                                                                 FilterProperty="ToStringId" FilterOperator="FilterOperator.Contains" SortProperty="ToStringId" />


                                        <RadzenDataGridColumnApp TItem="ReportTemplateToMesParamDTO" Property="ToStringReportTemplateId" Title="Ид шаблона отчёта" Width="80px" TextAlign="TextAlign.Center"
                                                                 FilterProperty="ToStringReportTemplateId" FilterOperator="FilterOperator.Contains" SortProperty="ToStringReportTemplateId">
                                            <Template Context="data1">
                                                <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                                    @data1.ToStringReportTemplateId
                                                </div>
                                            </Template>
                                        </RadzenDataGridColumnApp>


                                        <RadzenDataGridColumnApp TItem="ReportTemplateToMesParamDTO" Title="Тип шаблона отчёта" Width="120px"
                                                                 Property="ReportTemplateDTOFK.ReportTemplateTypeDTOFK.Name"
                                                                 Filterable="true" Sortable="true"
                                                                 FilterProperty="ReportTemplateDTOFK.ReportTemplateTypeDTOFK.Name" FilterOperator="FilterOperator.Contains" SortProperty="ReportTemplateDTOFK.ReportTemplateTypeDTOFK.Name"
                                                                 LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <Template Context="data1">
                                                <strong>
                                                    <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                                        @data1.ReportTemplateDTOFK.ReportTemplateTypeDTOFK.Name
                                                    </div>
                                                </strong>
                                            </Template>
                                        </RadzenDataGridColumnApp>

@*                                         <RadzenDataGridColumnApp TItem="ReportTemplateToMesParamDTO" Title="Тип шаблона отчёта" Width="120px"
                                                                 Property="ReportTemplateDTOFK.ReportTemplateTypeDTOFK.Name" Type="typeof(IEnumerable<string>)"
                                                                 Filterable="true" Sortable="true"
                                                                 FilterValue="@selectedSheets" FilterOperator="FilterOperator.Contains"
                                                                 LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <FilterTemplate>
                                                <RadzenDropDown @bind-Value=@selectedReportTemplateTypes
                                                                Change=OnSelectedReportTemplateTypesChange Data="@(distinctReportTemplateTypesInList)" AllowClear="true" Multiple="true"
                                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true"
                                                                Chips="true"
                                                                OpenOnFocus="true"
                                                                FilterPlaceholder="Поиск..."
                                                                MaxSelectedLabels="10"
                                                                Style="font-size:0.75rem;width: 30vw;"
                                                                PopupStyle="max-height:40vh"
                                                                SelectAllText="ВСЕ" SelectedItemsText="элементов выбрано" />
                                            </FilterTemplate>
                                            <Template Context="data1">
                                                <strong>
                                                    <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                                        @data1.ReportTemplateDTOFK.ReportTemplateTypeDTOFK.Name
                                                    </div>
                                                </strong>
                                            </Template>
                                        </RadzenDataGridColumnApp> *@


                                        <RadzenDataGridColumnApp TItem="ReportTemplateToMesParamDTO" Title="Производство" Width="400px"
                                                                 Property="ReportTemplateDTOFK.MesDepartmentDTOFK.ToStringHierarchyShortName"
                                                                 Filterable="true" Sortable="true"
                                                                 FilterProperty="ReportTemplateDTOFK.MesDepartmentDTOFK.ToStringHierarchyShortName" FilterOperator="FilterOperator.Contains" SortProperty="ReportTemplateDTOFK.MesDepartmentDTOFK.ToStringHierarchyShortName"
                                                                 LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <Template Context="data1">
                                                <strong>
                                                    <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                                        @data1.ReportTemplateDTOFK.MesDepartmentDTOFK.ToStringHierarchyShortName
                                                    </div>
                                                </strong>
                                            </Template>
                                        </RadzenDataGridColumnApp>

                                        @* <RadzenDataGridColumnApp TItem="ReportTemplateToMesParamDTO" Title="Производство" Width="400px"
                                                                 Property="ReportTemplateDTOFK.MesDepartmentDTOFK.ToStringHierarchyShortName" Type="typeof(IEnumerable<string>)"
                                                                 Filterable="true" Sortable="true"
                                                                 FilterValue="@selectedSheets" FilterOperator="FilterOperator.Contains"
                                                                 LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <FilterTemplate>
                                                <RadzenDropDown @bind-Value=@selectedMesDepartments
                                                                Change=OnSelectedMesDepartmentsChange Data="@(distinctMesDepartmentsInList)" AllowClear="true" Multiple="true"
                                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true"
                                                                Chips="true"
                                                                OpenOnFocus="true"
                                                                FilterPlaceholder="Поиск..."
                                                                MaxSelectedLabels="10"
                                                                Style="font-size:0.75rem;width: 400px;"
                                                                PopupStyle="max-height:40vh"
                                                                SelectAllText="ВСЕ" SelectedItemsText="элементов выбрано" />
                                            </FilterTemplate>
                                            <Template Context="data1">
                                                <strong>
                                                    <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                                        @data1.ReportTemplateDTOFK.MesDepartmentDTOFK.ToStringHierarchyShortName
                                                    </div>
                                                </strong>
                                            </Template>
                                        </RadzenDataGridColumnApp> *@

                                        <RadzenDataGridColumnApp TItem="ReportTemplateToMesParamDTO" Title="Лист в Excel"
                                                                 Property="SheetName"
                                                                 Filterable="true" Sortable="true"
                                                                 FilterProperty="SheetName" FilterOperator="FilterOperator.Contains" SortProperty="SheetName"
                                                                 LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <Template Context="data1">
                                                <strong>
                                                    <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                                        @data1.SheetName
                                                    </div>
                                                </strong>
                                            </Template>
                                        </RadzenDataGridColumnApp>

                                        @* <RadzenDataGridColumnApp TItem="ReportTemplateToMesParamDTO" Title="Лист в Excel"
                                                                 Property="SheetName" Type="typeof(IEnumerable<string>)"
                                                                 Filterable="true" Sortable="true"
                                                                 FilterValue="@selectedSheets" FilterOperator="FilterOperator.Contains"
                                                                 LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <FilterTemplate>
                                                <RadzenDropDown @bind-Value=@selectedSheets
                                                                Change=OnSelectedSheetsChange Data="@(distinctSheetsInList)" AllowClear="true" Multiple="true"
                                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true"
                                                                Chips="true"
                                                                OpenOnFocus="true"
                                                                FilterPlaceholder="Поиск..."
                                                                MaxSelectedLabels="10"
                                                                Style="font-size:0.75rem;width: 30vw;"
                                                                PopupStyle="max-height:40vh"
                                                                SelectAllText="ВСЕ" SelectedItemsText="элементов выбрано" />
                                            </FilterTemplate>
                                            <Template Context="data1">
                                                <strong>
                                                    <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                                        @data1.SheetName
                                                    </div>
                                                </strong>
                                            </Template>
                                        </RadzenDataGridColumnApp> *@
                                    </Columns>
                                </RadzenDataGridApp>
                            </RadzenStack>
                        </RadzenStack>
                    </RadzenColumn>
                </RadzenRow>
            }
        </div>
    </div>
}


@code {

    [Parameter]
    public IEnumerable<ReportTemplateToMesParamDTO>? DataList { get; set; }

    public string reportTemplatePath = "";
    public string reportTempPath = "";

    IEnumerable<string> selectedSheets;
    List<string> distinctSheetsInList = new List<string>();

    IEnumerable<string> selectedReportTemplateTypes;
    List<string> distinctReportTemplateTypesInList = new List<string>();

    IEnumerable<string> selectedMesDepartments;
    List<string> distinctMesDepartmentsInList = new List<string>();

    public bool haveChanges = false;

    public bool IsLoading { get; set; } = true;
    public AdminMode IsAdmin { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        IsLoading = true;
        await Task.Delay(10);
        await InvokeAsync(StateHasChanged);
        IsAdmin = await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On);
        List<string> distinctSheetsInList = new List<string>();
        List<string> distinctReportTemplateTypesInList = new List<string>();
        List<string> distinctMesDepartmentsInList = new List<string>();
        await GetDistincts();
        IsLoading = false;
        await Task.Delay(10);
        await InvokeAsync(StateHasChanged);
    }

    void OnSelectedSheetsChange(object value)
    {
        if (selectedSheets != null && !selectedSheets.Any())
        {
            selectedSheets = null;
        }
    }

    void OnSelectedReportTemplateTypesChange(object value)
    {
        if (selectedReportTemplateTypes != null && !selectedReportTemplateTypes.Any())
        {
            selectedReportTemplateTypes = null;
        }
    }

    void OnSelectedMesDepartmentsChange(object value)
    {
        if (selectedMesDepartments != null && !selectedMesDepartments.Any())
        {
            selectedMesDepartments = null;
        }
    }


    async Task GetDistincts()
    {
        if (DataList != null)
        {
            distinctSheetsInList = (List<string>)DataList.Where(u => !String.IsNullOrEmpty(u.SheetName)).OrderBy(u => u.SheetName)
                .Select(u => u.SheetName).Distinct().ToList();

            distinctReportTemplateTypesInList = (List<string>)DataList.Where(u => u.ReportTemplateDTOFK != null && u.ReportTemplateDTOFK.ReportTemplateTypeDTOFK != null)
                .OrderBy(u => u.ReportTemplateDTOFK.ReportTemplateTypeDTOFK.Name)
                .Select(u => u.ReportTemplateDTOFK.ReportTemplateTypeDTOFK.Name).Distinct().ToList();

            distinctMesDepartmentsInList = (List<string>)DataList.Where(u => u.ReportTemplateDTOFK != null && u.ReportTemplateDTOFK.MesDepartmentDTOFK != null)
                .OrderBy(u => u.ReportTemplateDTOFK.MesDepartmentDTOFK.ToStringHierarchyShortName)
                .Select(u => u.ReportTemplateDTOFK.MesDepartmentDTOFK.ToStringHierarchyShortName).Distinct().ToList();
        }
    }
}
